body{font-family:system-ui;margin:0;padding:1rem}
.c0{color:#2b6a52;padding:0px}
.c1{color:#914c73;padding:1px}
.c2{color:#ab9dcb;padding:2px}
.c3{color:#2fd072;padding:3px}
.c4{color:#7840b2;padding:4px}
.c5{color:#9eef4c;padding:5px}
.c6{color:#730419;padding:6px}
.c7{color:#65f45b;padding:7px}
.c8{color:#4b71fa;padding:0px}
.c9{color:#0c817c;padding:1px}
.c10{color:#17a953;padding:2px}
.c11{color:#7d5c00;padding:3px}
.c12{color:#f34512;padding:4px}
.c13{color:#2549bd;padding:5px}
.c14{color:#e92c4e;padding:6px}
.c15{color:#d4319c;padding:7px}
.c16{color:#638d03;padding:0px}
.c17{color:#c498d3;padding:1px}
.c18{color:#fd1f01;padding:2px}
.c19{color:#cc9f4c;padding:3px}
.c20{color:#7ceb87;padding:4px}
.c21{color:#4b8e78;padding:5px}
.c22{color:#02d6c5;padding:6px}
.c23{color:#36929c;padding:7px}
.c24{color:#d9acc3;padding:0px}
.c25{color:#700bf2;padding:1px}
.c26{color:#5a0dd1;padding:2px}
.c27{color:#edd97b;padding:3px}
.c28{color:#19b639;padding:4px}
.c29{color:#7f96ea;padding:5px}
.c30{color:#3e22b6;padding:6px}
.c31{color:#e9b55d;padding:7px}
.c32{color:#444505;padding:0px}
.c33{color:#ede5b7;padding:1px}
.c34{color:#a274e0;padding:2px}
.c35{color:#e298fb;padding:3px}
.c36{color:#da7dc3;padding:4px}
.c37{color:#e44ec9;padding:5px}
.c38{color:#517d25;padding:6px}
.c39{color:#f30887;padding:7px}
.c40{color:#e66f8b;padding:0px}
.c41{color:#84b4c1;padding:1px}
.c42{color:#7e9634;padding:2px}
.c43{color:#8dfbc0;padding:3px}
.c44{color:#f81d19;padding:4px}
.c45{color:#7a7e6f;padding:5px}
.c46{color:#8c9809;padding:6px}
.c47{color:#e136fb;padding:7px}
.c48{color:#27abe5;padding:0px}
.c49{color:#924af5;padding:1px}
.c50{color:#780f8a;padding:2px}
.c51{color:#8b1e3e;padding:3px}
.c52{color:#abf435;padding:4px}
.c53{color:#a3b0f8;padding:5px}
.c54{color:#294179;padding:6px}
.c55{color:#46d8f7;padding:7px}
.c56{color:#4d39ad;padding:0px}
.c57{color:#7667e7;padding:1px}
.c58{color:#c41d33;padding:2px}
.c59{color:#4e3c7d;padding:3px}
.c60{color:#6d8b3b;padding:4px}
.c61{color:#20e29a;padding:5px}
.c62{color:#d46990;padding:6px}
.c63{color:#d0b0dd;padding:7px}
.c64{color:#a96949;padding:0px}
.c65{color:#ee8da1;padding:1px}
.c66{color:#d4e05c;padding:2px}
.c67{color:#1fe14a;padding:3px}
.c68{color:#69e632;padding:4px}
.c69{color:#d71d0d;padding:5px}
.c70{color:#c76981;padding:6px}
.c71{color:#0a0017;padding:7px}
.c72{color:#c2c14d;padding:0px}
.c73{color:#f436b0;padding:1px}
.c74{color:#0304cf;padding:2px}
.c75{color:#b419ba;padding:3px}
.c76{color:#98e3c1;padding:4px}
.c77{color:#c7ac54;padding:5px}
.c78{color:#d689f5;padding:6px}
.c79{color:#70ea72;padding:7px}
.c80{color:#f9f936;padding:0px}
.c81{color:#705808;padding:1px}
.c82{color:#8bbe2d;padding:2px}
.c83{color:#df25e4;padding:3px}
.c84{color:#f8a611;padding:4px}
.c85{color:#0edc57;padding:5px}
.c86{color:#c7184a;padding:6px}
.c87{color:#ac192b;padding:7px}
.c88{color:#cf0298;padding:0px}
.c89{color:#5480be;padding:1px}
.c90{color:#ef4dc2;padding:2px}
.c91{color:#41586e;padding:3px}
.c92{color:#0dce8b;padding:4px}
.c93{color:#c9bd05;padding:5px}
.c94{color:#0de051;padding:6px}
.c95{color:#2afb29;padding:7px}
.c96{color:#db7322;padding:0px}
.c97{color:#457a67;padding:1px}
.c98{color:#ec63bd;padding:2px}
.c99{color:#5d0b96;padding:3px}
.c100{color:#19bee8;padding:4px}
.c101{color:#853335;padding:5px}
.c102{color:#c219e6;padding:6px}
.c103{color:#a79ac4;padding:7px}
.c104{color:#6c5ebc;padding:0px}
.c105{color:#e8ce59;padding:1px}
.c106{color:#a75855;padding:2px}
.c107{color:#acccdf;padding:3px}
.c108{color:#c21cd4;padding:4px}
.c109{color:#8e77a6;padding:5px}
.c110{color:#d7d758;padding:6px}
.c111{color:#8129bb;padding:7px}
.c112{color:#29ef9d;padding:0px}
.c113{color:#f0cc0e;padding:1px}
.c114{color:#09ec9b;padding:2px}
.c115{color:#1aaaf6;padding:3px}
.c116{color:#b32e00;padding:4px}
.c117{color:#72cd3f;padding:5px}
.c118{color:#2321f2;padding:6px}
.c119{color:#149cb6;padding:7px}
.c120{color:#0fe329;padding:0px}
.c121{color:#7e9bea;padding:1px}
.c122{color:#66129a;padding:2px}
.c123{color:#0a6f3f;padding:3px}
.c124{color:#4e050f;padding:4px}
.c125{color:#7a2290;padding:5px}
.c126{color:#40a009;padding:6px}
.c127{color:#f27698;padding:7px}
.c128{color:#3a9140;padding:0px}
.c129{color:#6f990c;padding:1px}
.c130{color:#ee18ef;padding:2px}
.c131{color:#83325f;padding:3px}
.c132{color:#bcdfd4;padding:4px}
.c133{color:#55e875;padding:5px}
.c134{color:#3aa40d;padding:6px}
.c135{color:#53d91c;padding:7px}
.c136{color:#9f407e;padding:0px}
.c137{color:#3758b8;padding:1px}
.c138{color:#0d25b8;padding:2px}
.c139{color:#9fb8dc;padding:3px}
.c140{color:#c0283b;padding:4px}
.c141{color:#cb164a;padding:5px}
.c142{color:#658b7b;padding:6px}
.c143{color:#26e902;padding:7px}
.c144{color:#7c56c1;padding:0px}
.c145{color:#342c68;padding:1px}
.c146{color:#9a690b;padding:2px}
.c147{color:#3dfaed;padding:3px}
.c148{color:#150703;padding:4px}
.c149{color:#b1c4b1;padding:5px}
.c150{color:#db545c;padding:6px}
.c151{color:#bdbb77;padding:7px}
.c152{color:#234e4c;padding:0px}
.c153{color:#aeb5da;padding:1px}
.c154{color:#067a57;padding:2px}
.c155{color:#d711f0;padding:3px}
.c156{color:#fafbb7;padding:4px}
.c157{color:#360930;padding:5px}
.c158{color:#ddf6c7;padding:6px}
.c159{color:#b970b5;padding:7px}
.c160{color:#eb62f4;padding:0px}
.c161{color:#4e54db;padding:1px}
.c162{color:#def82b;padding:2px}
.c163{color:#5a2e9f;padding:3px}
.c164{color:#8a483d;padding:4px}
.c165{color:#f78cfc;padding:5px}
.c166{color:#ee03ef;padding:6px}
.c167{color:#df039e;padding:7px}
.c168{color:#896b23;padding:0px}
.c169{color:#a5051b;padding:1px}
.c170{color:#7db18a;padding:2px}
.c171{color:#2c5f14;padding:3px}
.c172{color:#8ecfae;padding:4px}
.c173{color:#e6cf85;padding:5px}
.c174{color:#7cdbab;padding:6px}
.c175{color:#edee44;padding:7px}
.c176{color:#c20ae2;padding:0px}
.c177{color:#ac3c2d;padding:1px}
.c178{color:#0eb1c4;padding:2px}
.c179{color:#fd15bd;padding:3px}
.c180{color:#a66841;padding:4px}
.c181{color:#5d1a1d;padding:5px}
.c182{color:#f9a025;padding:6px}
.c183{color:#6c9af9;padding:7px}
.c184{color:#b5ab9e;padding:0px}
.c185{color:#8446c4;padding:1px}
.c186{color:#ae40e4;padding:2px}
.c187{color:#8f2f65;padding:3px}
.c188{color:#8d7313;padding:4px}
.c189{color:#053286;padding:5px}
.c190{color:#61d225;padding:6px}
.c191{color:#2bd576;padding:7px}
.c192{color:#7b9305;padding:0px}
.c193{color:#d01758;padding:1px}
.c194{color:#fa26e0;padding:2px}
.c195{color:#7b0bbd;padding:3px}
.c196{color:#f3c279;padding:4px}
.c197{color:#fb4cef;padding:5px}
.c198{color:#e57722;padding:6px}
.c199{color:#08d41b;padding:7px}
