body{font-family:system-ui;margin:0;padding:1rem}
.c0{color:#e3b46b;padding:0px}
.c1{color:#b8471b;padding:1px}
.c2{color:#8a1ed3;padding:2px}
.c3{color:#3457ad;padding:3px}
.c4{color:#43d7f5;padding:4px}
.c5{color:#2cb239;padding:5px}
.c6{color:#5ff1d0;padding:6px}
.c7{color:#dca958;padding:7px}
.c8{color:#e5ced6;padding:0px}
.c9{color:#d0eb2a;padding:1px}
.c10{color:#34e2cf;padding:2px}
.c11{color:#0d7233;padding:3px}
.c12{color:#2de285;padding:4px}
.c13{color:#b53440;padding:5px}
.c14{color:#2fa61e;padding:6px}
.c15{color:#a61bbb;padding:7px}
.c16{color:#c53de7;padding:0px}
.c17{color:#065182;padding:1px}
.c18{color:#956d04;padding:2px}
.c19{color:#d3dee9;padding:3px}
.c20{color:#c68da9;padding:4px}
.c21{color:#2b5dbc;padding:5px}
.c22{color:#7c48bf;padding:6px}
.c23{color:#56d392;padding:7px}
.c24{color:#c2ef4e;padding:0px}
.c25{color:#56c8ee;padding:1px}
.c26{color:#47160b;padding:2px}
.c27{color:#89afbf;padding:3px}
.c28{color:#9a2de0;padding:4px}
.c29{color:#896c9d;padding:5px}
.c30{color:#fc7abd;padding:6px}
.c31{color:#4ab7f8;padding:7px}
.c32{color:#20648d;padding:0px}
.c33{color:#559c35;padding:1px}
.c34{color:#de8de3;padding:2px}
.c35{color:#8d4adf;padding:3px}
.c36{color:#d79ab9;padding:4px}
.c37{color:#997920;padding:5px}
.c38{color:#f7ed2a;padding:6px}
.c39{color:#27623c;padding:7px}
.c40{color:#b8e55d;padding:0px}
.c41{color:#80dec9;padding:1px}
.c42{color:#7e410d;padding:2px}
.c43{color:#fdd9d1;padding:3px}
.c44{color:#641ee5;padding:4px}
.c45{color:#ea6cd7;padding:5px}
.c46{color:#36c515;padding:6px}
.c47{color:#455ee2;padding:7px}
.c48{color:#9bfc22;padding:0px}
.c49{color:#037703;padding:1px}
.c50{color:#ca9823;padding:2px}
.c51{color:#aa185f;padding:3px}
.c52{color:#c280ef;padding:4px}
.c53{color:#a8b9b1;padding:5px}
.c54{color:#e164e6;padding:6px}
.c55{color:#ab628b;padding:7px}
.c56{color:#dc79ba;padding:0px}
.c57{color:#45b21b;padding:1px}
.c58{color:#99d2a7;padding:2px}
.c59{color:#a42e39;padding:3px}
.c60{color:#66d601;padding:4px}
.c61{color:#f540c3;padding:5px}
.c62{color:#a0dca1;padding:6px}
.c63{color:#5af345;padding:7px}
.c64{color:#cbe60e;padding:0px}
.c65{color:#a36603;padding:1px}
.c66{color:#9538b1;padding:2px}
.c67{color:#fb654f;padding:3px}
.c68{color:#7c1f09;padding:4px}
.c69{color:#a6da8f;padding:5px}
.c70{color:#c08a52;padding:6px}
.c71{color:#8f8380;padding:7px}
.c72{color:#c92ecb;padding:0px}
.c73{color:#bae351;padding:1px}
.c74{color:#3a4f81;padding:2px}
.c75{color:#664c31;padding:3px}
.c76{color:#5c1f6b;padding:4px}
.c77{color:#0dc7f2;padding:5px}
.c78{color:#ec59bf;padding:6px}
.c79{color:#6b5708;padding:7px}
.c80{color:#e07d2a;padding:0px}
.c81{color:#95295d;padding:1px}
.c82{color:#2368c3;padding:2px}
.c83{color:#d17b01;padding:3px}
.c84{color:#ffa4ab;padding:4px}
.c85{color:#47427c;padding:5px}
.c86{color:#9b0ce1;padding:6px}
.c87{color:#7bea32;padding:7px}
.c88{color:#815f7e;padding:0px}
.c89{color:#4eebdc;padding:1px}
.c90{color:#d8a43a;padding:2px}
.c91{color:#c104f0;padding:3px}
.c92{color:#25dec2;padding:4px}
.c93{color:#e5ec12;padding:5px}
.c94{color:#f55e40;padding:6px}
.c95{color:#cd3653;padding:7px}
.c96{color:#d62b82;padding:0px}
.c97{color:#12d2e2;padding:1px}
.c98{color:#b8143f;padding:2px}
.c99{color:#2b82c0;padding:3px}
.c100{color:#37ff44;padding:4px}
.c101{color:#7f1821;padding:5px}
.c102{color:#b5c3b7;padding:6px}
.c103{color:#552a51;padding:7px}
.c104{color:#16ae0e;padding:0px}
.c105{color:#cc9ab2;padding:1px}
.c106{color:#a9c70a;padding:2px}
.c107{color:#dc64ab;padding:3px}
.c108{color:#363e5d;padding:4px}
.c109{color:#056684;padding:5px}
.c110{color:#327c8f;padding:6px}
.c111{color:#84795b;padding:7px}
.c112{color:#71aa20;padding:0px}
.c113{color:#712b12;padding:1px}
.c114{color:#e43d16;padding:2px}
.c115{color:#bf8c99;padding:3px}
.c116{color:#c842bc;padding:4px}
.c117{color:#ed169e;padding:5px}
.c118{color:#4d2e70;padding:6px}
.c119{color:#b09f90;padding:7px}
.c120{color:#0c9379;padding:0px}
.c121{color:#f72dc5;padding:1px}
.c122{color:#35877e;padding:2px}
.c123{color:#9742e4;padding:3px}
.c124{color:#d4fabb;padding:4px}
.c125{color:#2bf529;padding:5px}
.c126{color:#3b6d70;padding:6px}
.c127{color:#4889a6;padding:7px}
.c128{color:#b25822;padding:0px}
.c129{color:#9fb017;padding:1px}
.c130{color:#afa66f;padding:2px}
.c131{color:#e9215b;padding:3px}
.c132{color:#69ea83;padding:4px}
.c133{color:#f74213;padding:5px}
.c134{color:#b2546a;padding:6px}
.c135{color:#f3cb93;padding:7px}
.c136{color:#31fba5;padding:0px}
.c137{color:#e05749;padding:1px}
.c138{color:#e7a728;padding:2px}
.c139{color:#a3481a;padding:3px}
.c140{color:#2264ac;padding:4px}
.c141{color:#99bc36;padding:5px}
.c142{color:#16e0b2;padding:6px}
.c143{color:#3aec74;padding:7px}
.c144{color:#0b9046;padding:0px}
.c145{color:#afa7e9;padding:1px}
.c146{color:#37fe62;padding:2px}
.c147{color:#542638;padding:3px}
.c148{color:#7ce228;padding:4px}
.c149{color:#5951ef;padding:5px}
.c150{color:#51fd4e;padding:6px}
.c151{color:#a97779;padding:7px}
.c152{color:#da4d16;padding:0px}
.c153{color:#ec925c;padding:1px}
.c154{color:#76b5c5;padding:2px}
.c155{color:#cf6260;padding:3px}
.c156{color:#5e7076;padding:4px}
.c157{color:#5f6e1b;padding:5px}
.c158{color:#dd40ba;padding:6px}
.c159{color:#ca89c6;padding:7px}
.c160{color:#0ef24a;padding:0px}
.c161{color:#6507b5;padding:1px}
.c162{color:#e62eb2;padding:2px}
.c163{color:#dbee59;padding:3px}
.c164{color:#c7157b;padding:4px}
.c165{color:#024746;padding:5px}
.c166{color:#6df9c1;padding:6px}
.c167{color:#695c95;padding:7px}
.c168{color:#8e8336;padding:0px}
.c169{color:#20085b;padding:1px}
.c170{color:#3418d8;padding:2px}
.c171{color:#5fb933;padding:3px}
.c172{color:#bb4939;padding:4px}
.c173{color:#a6e77e;padding:5px}
.c174{color:#64e6eb;padding:6px}
.c175{color:#ea440c;padding:7px}
.c176{color:#3a584e;padding:0px}
.c177{color:#86532f;padding:1px}
.c178{color:#fa9da4;padding:2px}
.c179{color:#a07680;padding:3px}
.c180{color:#c6fbb9;padding:4px}
.c181{color:#c8fb87;padding:5px}
.c182{color:#3a7ca0;padding:6px}
.c183{color:#b2232d;padding:7px}
.c184{color:#b4375e;padding:0px}
.c185{color:#ea6cb3;padding:1px}
.c186{color:#585586;padding:2px}
.c187{color:#984ab0;padding:3px}
.c188{color:#2b649c;padding:4px}
.c189{color:#4494cd;padding:5px}
.c190{color:#a059e1;padding:6px}
.c191{color:#3c585c;padding:7px}
.c192{color:#7a2634;padding:0px}
.c193{color:#9c5ac4;padding:1px}
.c194{color:#3be0ba;padding:2px}
.c195{color:#5db802;padding:3px}
.c196{color:#bf21f9;padding:4px}
.c197{color:#486025;padding:5px}
.c198{color:#c6e4a8;padding:6px}
.c199{color:#d6236f;padding:7px}
