body{font-family:system-ui;margin:0;padding:1rem}
.c0{color:#88cada;padding:0px}
.c1{color:#01503b;padding:1px}
.c2{color:#90d045;padding:2px}
.c3{color:#98dc4f;padding:3px}
.c4{color:#fab223;padding:4px}
.c5{color:#4c14b2;padding:5px}
.c6{color:#e4a1dc;padding:6px}
.c7{color:#f7fb98;padding:7px}
.c8{color:#b0b415;padding:0px}
.c9{color:#aa3591;padding:1px}
.c10{color:#c121ad;padding:2px}
.c11{color:#e922ed;padding:3px}
.c12{color:#a4c000;padding:4px}
.c13{color:#60970b;padding:5px}
.c14{color:#7a44b8;padding:6px}
.c15{color:#c414c1;padding:7px}
.c16{color:#77957f;padding:0px}
.c17{color:#d2511d;padding:1px}
.c18{color:#1658f0;padding:2px}
.c19{color:#a2e801;padding:3px}
.c20{color:#f229f1;padding:4px}
.c21{color:#c330ba;padding:5px}
.c22{color:#c5ac1d;padding:6px}
.c23{color:#4de0bf;padding:7px}
.c24{color:#fd9bb7;padding:0px}
.c25{color:#12f43c;padding:1px}
.c26{color:#40a359;padding:2px}
.c27{color:#a9fb35;padding:3px}
.c28{color:#3362fd;padding:4px}
.c29{color:#e16fd0;padding:5px}
.c30{color:#330d69;padding:6px}
.c31{color:#e9f27a;padding:7px}
.c32{color:#07dba3;padding:0px}
.c33{color:#49cebd;padding:1px}
.c34{color:#d1e8b7;padding:2px}
.c35{color:#4f086f;padding:3px}
.c36{color:#264fe3;padding:4px}
.c37{color:#f06112;padding:5px}
.c38{color:#87b110;padding:6px}
.c39{color:#ad57e5;padding:7px}
.c40{color:#cb82ef;padding:0px}
.c41{color:#291f16;padding:1px}
.c42{color:#a839bf;padding:2px}
.c43{color:#c29097;padding:3px}
.c44{color:#a22169;padding:4px}
.c45{color:#f9d440;padding:5px}
.c46{color:#12615d;padding:6px}
.c47{color:#23080b;padding:7px}
.c48{color:#7833ce;padding:0px}
.c49{color:#932357;padding:1px}
.c50{color:#747914;padding:2px}
.c51{color:#2e4633;padding:3px}
.c52{color:#de3182;padding:4px}
.c53{color:#326723;padding:5px}
.c54{color:#3375af;padding:6px}
.c55{color:#e329d5;padding:7px}
.c56{color:#552dc3;padding:0px}
.c57{color:#99539e;padding:1px}
.c58{color:#0ed22c;padding:2px}
.c59{color:#178c20;padding:3px}
.c60{color:#a6146f;padding:4px}
.c61{color:#1cbba8;padding:5px}
.c62{color:#96344d;padding:6px}
.c63{color:#b78881;padding:7px}
.c64{color:#bfeb2b;padding:0px}
.c65{color:#dc82fa;padding:1px}
.c66{color:#4a881f;padding:2px}
.c67{color:#7d0772;padding:3px}
.c68{color:#d2f872;padding:4px}
.c69{color:#5c306a;padding:5px}
.c70{color:#570818;padding:6px}
.c71{color:#59a2b0;padding:7px}
.c72{color:#286e8a;padding:0px}
.c73{color:#c3dcd8;padding:1px}
.c74{color:#7b4e0a;padding:2px}
.c75{color:#fece3d;padding:3px}
.c76{color:#4946b9;padding:4px}
.c77{color:#76e167;padding:5px}
.c78{color:#ec1bd7;padding:6px}
.c79{color:#820951;padding:7px}
.c80{color:#eb4cd3;padding:0px}
.c81{color:#82ba2e;padding:1px}
.c82{color:#04cfbd;padding:2px}
.c83{color:#ee35ac;padding:3px}
.c84{color:#934475;padding:4px}
.c85{color:#50e22e;padding:5px}
.c86{color:#25d13a;padding:6px}
.c87{color:#e22a67;padding:7px}
.c88{color:#b0edfa;padding:0px}
.c89{color:#992abe;padding:1px}
.c90{color:#d93f05;padding:2px}
.c91{color:#800cdf;padding:3px}
.c92{color:#e9e662;padding:4px}
.c93{color:#9aafb1;padding:5px}
.c94{color:#65ffc5;padding:6px}
.c95{color:#c4f683;padding:7px}
.c96{color:#f7670c;padding:0px}
.c97{color:#369b41;padding:1px}
.c98{color:#797306;padding:2px}
.c99{color:#c3422e;padding:3px}
.c100{color:#b7c97e;padding:4px}
.c101{color:#977c95;padding:5px}
.c102{color:#97287c;padding:6px}
.c103{color:#0b3baa;padding:7px}
.c104{color:#caa70c;padding:0px}
.c105{color:#8c88b1;padding:1px}
.c106{color:#04256a;padding:2px}
.c107{color:#191c53;padding:3px}
.c108{color:#fe5309;padding:4px}
.c109{color:#92880a;padding:5px}
.c110{color:#75d213;padding:6px}
.c111{color:#b46369;padding:7px}
.c112{color:#70215c;padding:0px}
.c113{color:#6158fa;padding:1px}
.c114{color:#805227;padding:2px}
.c115{color:#4607ed;padding:3px}
.c116{color:#31bf78;padding:4px}
.c117{color:#142f32;padding:5px}
.c118{color:#9e2c73;padding:6px}
.c119{color:#e1b393;padding:7px}
.c120{color:#111527;padding:0px}
.c121{color:#bacf17;padding:1px}
.c122{color:#434868;padding:2px}
.c123{color:#2e25f6;padding:3px}
.c124{color:#9718b7;padding:4px}
.c125{color:#a747ba;padding:5px}
.c126{color:#d4bcd2;padding:6px}
.c127{color:#59ed7e;padding:7px}
.c128{color:#66ce93;padding:0px}
.c129{color:#43aa72;padding:1px}
.c130{color:#bb51ad;padding:2px}
.c131{color:#8b88b4;padding:3px}
.c132{color:#543f2a;padding:4px}
.c133{color:#839195;padding:5px}
.c134{color:#f6b4c2;padding:6px}
.c135{color:#971cc7;padding:7px}
.c136{color:#ad6c15;padding:0px}
.c137{color:#3af786;padding:1px}
.c138{color:#efc921;padding:2px}
.c139{color:#268da3;padding:3px}
.c140{color:#48114d;padding:4px}
.c141{color:#7383c4;padding:5px}
.c142{color:#cb7984;padding:6px}
.c143{color:#bb46de;padding:7px}
.c144{color:#2e3c2d;padding:0px}
.c145{color:#ca05ad;padding:1px}
.c146{color:#072058;padding:2px}
.c147{color:#87671d;padding:3px}
.c148{color:#3f4705;padding:4px}
.c149{color:#e8d9b6;padding:5px}
.c150{color:#bcb742;padding:6px}
.c151{color:#863a05;padding:7px}
.c152{color:#c315c6;padding:0px}
.c153{color:#be31cb;padding:1px}
.c154{color:#377923;padding:2px}
.c155{color:#77b781;padding:3px}
.c156{color:#f1656a;padding:4px}
.c157{color:#0cd007;padding:5px}
.c158{color:#a7f070;padding:6px}
.c159{color:#71570a;padding:7px}
.c160{color:#205dfb;padding:0px}
.c161{color:#edb479;padding:1px}
.c162{color:#9ab8ab;padding:2px}
.c163{color:#d10c27;padding:3px}
.c164{color:#3bbcf2;padding:4px}
.c165{color:#4790da;padding:5px}
.c166{color:#1737b2;padding:6px}
.c167{color:#130d77;padding:7px}
.c168{color:#9bd5ac;padding:0px}
.c169{color:#fc394b;padding:1px}
.c170{color:#3b7424;padding:2px}
.c171{color:#31c326;padding:3px}
.c172{color:#7837b5;padding:4px}
.c173{color:#4575c2;padding:5px}
.c174{color:#c6fc96;padding:6px}
.c175{color:#e843fe;padding:7px}
.c176{color:#bdf538;padding:0px}
.c177{color:#d697c8;padding:1px}
.c178{color:#4f1da0;padding:2px}
.c179{color:#d46bbe;padding:3px}
.c180{color:#32b2f6;padding:4px}
.c181{color:#fa8bb1;padding:5px}
.c182{color:#d0f490;padding:6px}
.c183{color:#8f3a19;padding:7px}
.c184{color:#10c030;padding:0px}
.c185{color:#bdb61a;padding:1px}
.c186{color:#6f3df8;padding:2px}
.c187{color:#e3031b;padding:3px}
.c188{color:#e3af2c;padding:4px}
.c189{color:#78e3c1;padding:5px}
.c190{color:#b9b1fc;padding:6px}
.c191{color:#32de9b;padding:7px}
.c192{color:#bc1353;padding:0px}
.c193{color:#b7a419;padding:1px}
.c194{color:#1f006b;padding:2px}
.c195{color:#cbd8f5;padding:3px}
.c196{color:#8d4055;padding:4px}
.c197{color:#612e96;padding:5px}
.c198{color:#3e8bb7;padding:6px}
.c199{color:#e8d0b7;padding:7px}
