body{font-family:system-ui;margin:0;padding:1rem}
.c0{color:#7f1688;padding:0px}
.c1{color:#b623ea;padding:1px}
.c2{color:#cae08d;padding:2px}
.c3{color:#19100e;padding:3px}
.c4{color:#9901a6;padding:4px}
.c5{color:#853494;padding:5px}
.c6{color:#590531;padding:6px}
.c7{color:#0fe9fd;padding:7px}
.c8{color:#cf0c7f;padding:0px}
.c9{color:#e786e9;padding:1px}
.c10{color:#7fecaf;padding:2px}
.c11{color:#307fd4;padding:3px}
.c12{color:#ec90ee;padding:4px}
.c13{color:#342d33;padding:5px}
.c14{color:#4792f4;padding:6px}
.c15{color:#3e2f1f;padding:7px}
.c16{color:#061f37;padding:0px}
.c17{color:#1f931a;padding:1px}
.c18{color:#71cfc0;padding:2px}
.c19{color:#42ed1b;padding:3px}
.c20{color:#6571b1;padding:4px}
.c21{color:#cd190f;padding:5px}
.c22{color:#be9635;padding:6px}
.c23{color:#2b0737;padding:7px}
.c24{color:#848423;padding:0px}
.c25{color:#2664b8;padding:1px}
.c26{color:#0b2964;padding:2px}
.c27{color:#21027a;padding:3px}
.c28{color:#653f88;padding:4px}
.c29{color:#e3096e;padding:5px}
.c30{color:#41f0f7;padding:6px}
.c31{color:#2f17d2;padding:7px}
.c32{color:#a9c0e8;padding:0px}
.c33{color:#3ebbf2;padding:1px}
.c34{color:#15dc4a;padding:2px}
.c35{color:#ec0786;padding:3px}
.c36{color:#19ed2f;padding:4px}
.c37{color:#5602ae;padding:5px}
.c38{color:#ddc6ac;padding:6px}
.c39{color:#ca3d44;padding:7px}
.c40{color:#fe0447;padding:0px}
.c41{color:#0f184d;padding:1px}
.c42{color:#c3f51c;padding:2px}
.c43{color:#da73b4;padding:3px}
.c44{color:#587a2f;padding:4px}
.c45{color:#b5380c;padding:5px}
.c46{color:#6def44;padding:6px}
.c47{color:#5fd245;padding:7px}
.c48{color:#8cca69;padding:0px}
.c49{color:#8f4918;padding:1px}
.c50{color:#e45b9c;padding:2px}
.c51{color:#4c196a;padding:3px}
.c52{color:#11bd92;padding:4px}
.c53{color:#7dd780;padding:5px}
.c54{color:#971806;padding:6px}
.c55{color:#ff6eb8;padding:7px}
.c56{color:#d2f0a4;padding:0px}
.c57{color:#f5438a;padding:1px}
.c58{color:#1f38a6;padding:2px}
.c59{color:#2ce9d6;padding:3px}
.c60{color:#8f3ecc;padding:4px}
.c61{color:#c41a94;padding:5px}
.c62{color:#4643cc;padding:6px}
.c63{color:#d6a5f2;padding:7px}
.c64{color:#661f55;padding:0px}
.c65{color:#7f904b;padding:1px}
.c66{color:#09ffd5;padding:2px}
.c67{color:#c3d6c9;padding:3px}
.c68{color:#b7dd8a;padding:4px}
.c69{color:#f59932;padding:5px}
.c70{color:#f827e8;padding:6px}
.c71{color:#b0253d;padding:7px}
.c72{color:#a4a955;padding:0px}
.c73{color:#c6d9e9;padding:1px}
.c74{color:#8a768b;padding:2px}
.c75{color:#5c10d3;padding:3px}
.c76{color:#0d5820;padding:4px}
.c77{color:#a343eb;padding:5px}
.c78{color:#70236a;padding:6px}
.c79{color:#0f00dc;padding:7px}
.c80{color:#8fd668;padding:0px}
.c81{color:#1dffab;padding:1px}
.c82{color:#f1809d;padding:2px}
.c83{color:#b70171;padding:3px}
.c84{color:#772c98;padding:4px}
.c85{color:#51ba57;padding:5px}
.c86{color:#3344ce;padding:6px}
.c87{color:#7ee71e;padding:7px}
.c88{color:#7b7861;padding:0px}
.c89{color:#88763a;padding:1px}
.c90{color:#1ca00f;padding:2px}
.c91{color:#7056b7;padding:3px}
.c92{color:#c6df51;padding:4px}
.c93{color:#b5a8f3;padding:5px}
.c94{color:#58f0c8;padding:6px}
.c95{color:#5a29d3;padding:7px}
.c96{color:#791d3a;padding:0px}
.c97{color:#a2d177;padding:1px}
.c98{color:#b7b26c;padding:2px}
.c99{color:#0e7117;padding:3px}
.c100{color:#b40fae;padding:4px}
.c101{color:#48c1a1;padding:5px}
.c102{color:#606029;padding:6px}
.c103{color:#fc0524;padding:7px}
.c104{color:#9e3c34;padding:0px}
.c105{color:#59e293;padding:1px}
.c106{color:#fb1a7b;padding:2px}
.c107{color:#136ffb;padding:3px}
.c108{color:#2e3637;padding:4px}
.c109{color:#1cc20c;padding:5px}
.c110{color:#771a68;padding:6px}
.c111{color:#7007b9;padding:7px}
.c112{color:#0a3400;padding:0px}
.c113{color:#f4baf9;padding:1px}
.c114{color:#005996;padding:2px}
.c115{color:#a9d909;padding:3px}
.c116{color:#672656;padding:4px}
.c117{color:#42cf86;padding:5px}
.c118{color:#ae77f8;padding:6px}
.c119{color:#5adc05;padding:7px}
.c120{color:#a5ad6e;padding:0px}
.c121{color:#1e7e1e;padding:1px}
.c122{color:#0b382a;padding:2px}
.c123{color:#4ba0e8;padding:3px}
.c124{color:#4886b2;padding:4px}
.c125{color:#38ca95;padding:5px}
.c126{color:#bad2d7;padding:6px}
.c127{color:#2522dc;padding:7px}
.c128{color:#bf474a;padding:0px}
.c129{color:#ca8b80;padding:1px}
.c130{color:#33ba7d;padding:2px}
.c131{color:#ac51bb;padding:3px}
.c132{color:#9a80f6;padding:4px}
.c133{color:#a52c3f;padding:5px}
.c134{color:#45dcfe;padding:6px}
.c135{color:#50a459;padding:7px}
.c136{color:#dfad36;padding:0px}
.c137{color:#f97247;padding:1px}
.c138{color:#a272f8;padding:2px}
.c139{color:#593117;padding:3px}
.c140{color:#b6b1d6;padding:4px}
.c141{color:#724c25;padding:5px}
.c142{color:#59c7b0;padding:6px}
.c143{color:#c1bb8f;padding:7px}
.c144{color:#9d17ef;padding:0px}
.c145{color:#96caf7;padding:1px}
.c146{color:#4133ce;padding:2px}
.c147{color:#5afc94;padding:3px}
.c148{color:#00eba7;padding:4px}
.c149{color:#c87ffb;padding:5px}
.c150{color:#109478;padding:6px}
.c151{color:#5d39d1;padding:7px}
.c152{color:#a2ed53;padding:0px}
.c153{color:#71192e;padding:1px}
.c154{color:#354def;padding:2px}
.c155{color:#fe0bf7;padding:3px}
.c156{color:#480268;padding:4px}
.c157{color:#a98ee8;padding:5px}
.c158{color:#27d645;padding:6px}
.c159{color:#79da9a;padding:7px}
.c160{color:#b19118;padding:0px}
.c161{color:#a397f3;padding:1px}
.c162{color:#55f556;padding:2px}
.c163{color:#2d6d7e;padding:3px}
.c164{color:#abe75a;padding:4px}
.c165{color:#e4acad;padding:5px}
.c166{color:#05d5a5;padding:6px}
.c167{color:#87c9ec;padding:7px}
.c168{color:#6b5bbd;padding:0px}
.c169{color:#7fc3d1;padding:1px}
.c170{color:#22b5ff;padding:2px}
.c171{color:#b37244;padding:3px}
.c172{color:#8368ab;padding:4px}
.c173{color:#37504f;padding:5px}
.c174{color:#00a7ec;padding:6px}
.c175{color:#18a6c8;padding:7px}
.c176{color:#c5998c;padding:0px}
.c177{color:#e05e63;padding:1px}
.c178{color:#d6dcc9;padding:2px}
.c179{color:#552a4f;padding:3px}
.c180{color:#d3fa51;padding:4px}
.c181{color:#fc753e;padding:5px}
.c182{color:#c1e69d;padding:6px}
.c183{color:#b3d492;padding:7px}
.c184{color:#c02d8e;padding:0px}
.c185{color:#33ee71;padding:1px}
.c186{color:#f57f9d;padding:2px}
.c187{color:#737f94;padding:3px}
.c188{color:#5347b6;padding:4px}
.c189{color:#e70f25;padding:5px}
.c190{color:#25bd3c;padding:6px}
.c191{color:#111b7b;padding:7px}
.c192{color:#96fe43;padding:0px}
.c193{color:#0a47a9;padding:1px}
.c194{color:#a32edc;padding:2px}
.c195{color:#85b287;padding:3px}
.c196{color:#359e85;padding:4px}
.c197{color:#25fd98;padding:5px}
.c198{color:#af017c;padding:6px}
.c199{color:#571807;padding:7px}
