body{font-family:system-ui;margin:0;padding:1rem}
.c0{color:#29960a;padding:0px}
.c1{color:#1746c4;padding:1px}
.c2{color:#8780fa;padding:2px}
.c3{color:#6bef13;padding:3px}
.c4{color:#d54adc;padding:4px}
.c5{color:#0f81a2;padding:5px}
.c6{color:#fefed8;padding:6px}
.c7{color:#944fd7;padding:7px}
.c8{color:#9aac14;padding:0px}
.c9{color:#f7448b;padding:1px}
.c10{color:#7d60a3;padding:2px}
.c11{color:#cfeb5c;padding:3px}
.c12{color:#984940;padding:4px}
.c13{color:#e836ef;padding:5px}
.c14{color:#255cb8;padding:6px}
.c15{color:#1eaceb;padding:7px}
.c16{color:#50efeb;padding:0px}
.c17{color:#e113f8;padding:1px}
.c18{color:#d4cc5f;padding:2px}
.c19{color:#f7efc3;padding:3px}
.c20{color:#edcb5c;padding:4px}
.c21{color:#6875b4;padding:5px}
.c22{color:#ae2db8;padding:6px}
.c23{color:#498ef1;padding:7px}
.c24{color:#a00ad0;padding:0px}
.c25{color:#a37d70;padding:1px}
.c26{color:#b0d468;padding:2px}
.c27{color:#cc2495;padding:3px}
.c28{color:#42f3c7;padding:4px}
.c29{color:#bdb771;padding:5px}
.c30{color:#365dbd;padding:6px}
.c31{color:#a36328;padding:7px}
.c32{color:#7bc510;padding:0px}
.c33{color:#eed57e;padding:1px}
.c34{color:#3ebb31;padding:2px}
.c35{color:#88f20c;padding:3px}
.c36{color:#e63172;padding:4px}
.c37{color:#7eef39;padding:5px}
.c38{color:#48211d;padding:6px}
.c39{color:#31914c;padding:7px}
.c40{color:#19e8ef;padding:0px}
.c41{color:#9496aa;padding:1px}
.c42{color:#c4af49;padding:2px}
.c43{color:#d615c1;padding:3px}
.c44{color:#7f1d48;padding:4px}
.c45{color:#51c427;padding:5px}
.c46{color:#a7a5aa;padding:6px}
.c47{color:#a01c2b;padding:7px}
.c48{color:#6131ef;padding:0px}
.c49{color:#519554;padding:1px}
.c50{color:#ff1ca9;padding:2px}
.c51{color:#ef0264;padding:3px}
.c52{color:#ff5d6e;padding:4px}
.c53{color:#9df904;padding:5px}
.c54{color:#fea751;padding:6px}
.c55{color:#0bddc3;padding:7px}
.c56{color:#2e1aea;padding:0px}
.c57{color:#c9570a;padding:1px}
.c58{color:#ea1a22;padding:2px}
.c59{color:#7b40c8;padding:3px}
.c60{color:#6e2768;padding:4px}
.c61{color:#b4aeaa;padding:5px}
.c62{color:#18e9b8;padding:6px}
.c63{color:#19e06e;padding:7px}
.c64{color:#900df0;padding:0px}
.c65{color:#fd62c5;padding:1px}
.c66{color:#f0f0c2;padding:2px}
.c67{color:#924d9c;padding:3px}
.c68{color:#042fd4;padding:4px}
.c69{color:#3709db;padding:5px}
.c70{color:#dca290;padding:6px}
.c71{color:#44931e;padding:7px}
.c72{color:#8768fd;padding:0px}
.c73{color:#bb4734;padding:1px}
.c74{color:#ce7751;padding:2px}
.c75{color:#bb5c24;padding:3px}
.c76{color:#172a02;padding:4px}
.c77{color:#cd1908;padding:5px}
.c78{color:#1a3157;padding:6px}
.c79{color:#63a9dc;padding:7px}
.c80{color:#b99cb7;padding:0px}
.c81{color:#93c39a;padding:1px}
.c82{color:#25a5f4;padding:2px}
.c83{color:#c5cf83;padding:3px}
.c84{color:#e694d9;padding:4px}
.c85{color:#8f378c;padding:5px}
.c86{color:#3cd4cc;padding:6px}
.c87{color:#41e02a;padding:7px}
.c88{color:#31803c;padding:0px}
.c89{color:#c9adbf;padding:1px}
.c90{color:#bf13da;padding:2px}
.c91{color:#ad9c96;padding:3px}
.c92{color:#bb30c2;padding:4px}
.c93{color:#49dd69;padding:5px}
.c94{color:#65eaea;padding:6px}
.c95{color:#cd829b;padding:7px}
.c96{color:#149c4a;padding:0px}
.c97{color:#173200;padding:1px}
.c98{color:#13ec88;padding:2px}
.c99{color:#4629a1;padding:3px}
.c100{color:#aa844f;padding:4px}
.c101{color:#f28e97;padding:5px}
.c102{color:#e9fa67;padding:6px}
.c103{color:#4c41f3;padding:7px}
.c104{color:#47915f;padding:0px}
.c105{color:#a7eb23;padding:1px}
.c106{color:#a3165e;padding:2px}
.c107{color:#533377;padding:3px}
.c108{color:#c93157;padding:4px}
.c109{color:#99353e;padding:5px}
.c110{color:#ac3924;padding:6px}
.c111{color:#facd2e;padding:7px}
.c112{color:#997e26;padding:0px}
.c113{color:#f3251f;padding:1px}
.c114{color:#0884a3;padding:2px}
.c115{color:#bc9965;padding:3px}
.c116{color:#a9983c;padding:4px}
.c117{color:#381e17;padding:5px}
.c118{color:#d544c4;padding:6px}
.c119{color:#9d87f2;padding:7px}
.c120{color:#0da4b2;padding:0px}
.c121{color:#f2fd7d;padding:1px}
.c122{color:#87f39a;padding:2px}
.c123{color:#74808b;padding:3px}
.c124{color:#1a4b39;padding:4px}
.c125{color:#f5fd62;padding:5px}
.c126{color:#574d5b;padding:6px}
.c127{color:#c2a84e;padding:7px}
.c128{color:#4ba941;padding:0px}
.c129{color:#7c0130;padding:1px}
.c130{color:#102a02;padding:2px}
.c131{color:#384439;padding:3px}
.c132{color:#61ae7b;padding:4px}
.c133{color:#09b228;padding:5px}
.c134{color:#e1cfce;padding:6px}
.c135{color:#a09c4d;padding:7px}
.c136{color:#d66a5f;padding:0px}
.c137{color:#4d8865;padding:1px}
.c138{color:#d36f81;padding:2px}
.c139{color:#68647d;padding:3px}
.c140{color:#d21cfc;padding:4px}
.c141{color:#f17645;padding:5px}
.c142{color:#1fe355;padding:6px}
.c143{color:#46b2bf;padding:7px}
.c144{color:#6a28b1;padding:0px}
.c145{color:#a66ce4;padding:1px}
.c146{color:#f4ed0a;padding:2px}
.c147{color:#c0ef2d;padding:3px}
.c148{color:#a0a42e;padding:4px}
.c149{color:#58ab5d;padding:5px}
.c150{color:#eb5904;padding:6px}
.c151{color:#af457c;padding:7px}
.c152{color:#b5651a;padding:0px}
.c153{color:#875a7a;padding:1px}
.c154{color:#f7e674;padding:2px}
.c155{color:#627072;padding:3px}
.c156{color:#7e37c1;padding:4px}
.c157{color:#8ed9ed;padding:5px}
.c158{color:#98d4e1;padding:6px}
.c159{color:#7321c5;padding:7px}
.c160{color:#9860ef;padding:0px}
.c161{color:#93f859;padding:1px}
.c162{color:#6a2050;padding:2px}
.c163{color:#fa5e9c;padding:3px}
.c164{color:#a2532a;padding:4px}
.c165{color:#f5a8cb;padding:5px}
.c166{color:#b29654;padding:6px}
.c167{color:#8c02a0;padding:7px}
.c168{color:#935921;padding:0px}
.c169{color:#3e6648;padding:1px}
.c170{color:#c26746;padding:2px}
.c171{color:#ca0028;padding:3px}
.c172{color:#b0b57d;padding:4px}
.c173{color:#4afeeb;padding:5px}
.c174{color:#94b635;padding:6px}
.c175{color:#1589bd;padding:7px}
.c176{color:#934448;padding:0px}
.c177{color:#28768b;padding:1px}
.c178{color:#b1568e;padding:2px}
.c179{color:#e27f1f;padding:3px}
.c180{color:#834c9f;padding:4px}
.c181{color:#f549e0;padding:5px}
.c182{color:#6d8fad;padding:6px}
.c183{color:#677575;padding:7px}
.c184{color:#8ad1e8;padding:0px}
.c185{color:#8b11f8;padding:1px}
.c186{color:#4648a4;padding:2px}
.c187{color:#37ec8b;padding:3px}
.c188{color:#7a832d;padding:4px}
.c189{color:#7c2375;padding:5px}
.c190{color:#19fded;padding:6px}
.c191{color:#738b3b;padding:7px}
.c192{color:#77365a;padding:0px}
.c193{color:#1ae01d;padding:1px}
.c194{color:#334d25;padding:2px}
.c195{color:#d39c3c;padding:3px}
.c196{color:#a91c3e;padding:4px}
.c197{color:#f1deec;padding:5px}
.c198{color:#337a9f;padding:6px}
.c199{color:#466214;padding:7px}
