body{font-family:system-ui;margin:0;padding:1rem}
.c0{color:#390062;padding:0px}
.c1{color:#0cce35;padding:1px}
.c2{color:#8cd0a4;padding:2px}
.c3{color:#7d6277;padding:3px}
.c4{color:#7248ad;padding:4px}
.c5{color:#477183;padding:5px}
.c6{color:#347a3f;padding:6px}
.c7{color:#2c833f;padding:7px}
.c8{color:#d80623;padding:0px}
.c9{color:#1045d1;padding:1px}
.c10{color:#0f4194;padding:2px}
.c11{color:#2ff8d2;padding:3px}
.c12{color:#6ff151;padding:4px}
.c13{color:#771f54;padding:5px}
.c14{color:#0d961f;padding:6px}
.c15{color:#65ce0c;padding:7px}
.c16{color:#d6cb4d;padding:0px}
.c17{color:#70dd97;padding:1px}
.c18{color:#e5feba;padding:2px}
.c19{color:#8e6f03;padding:3px}
.c20{color:#0353ce;padding:4px}
.c21{color:#51bedd;padding:5px}
.c22{color:#d860ea;padding:6px}
.c23{color:#ae3550;padding:7px}
.c24{color:#8e4527;padding:0px}
.c25{color:#4f9b02;padding:1px}
.c26{color:#6e3d9a;padding:2px}
.c27{color:#ac561e;padding:3px}
.c28{color:#3454e7;padding:4px}
.c29{color:#2f7c62;padding:5px}
.c30{color:#c285d4;padding:6px}
.c31{color:#3184cf;padding:7px}
.c32{color:#b7cc25;padding:0px}
.c33{color:#b01af6;padding:1px}
.c34{color:#876f47;padding:2px}
.c35{color:#163f22;padding:3px}
.c36{color:#eb39bc;padding:4px}
.c37{color:#3fe936;padding:5px}
.c38{color:#c1cf42;padding:6px}
.c39{color:#28587f;padding:7px}
.c40{color:#961b76;padding:0px}
.c41{color:#b92839;padding:1px}
.c42{color:#6273a6;padding:2px}
.c43{color:#239cbb;padding:3px}
.c44{color:#17764b;padding:4px}
.c45{color:#74af15;padding:5px}
.c46{color:#942aa8;padding:6px}
.c47{color:#28da7e;padding:7px}
.c48{color:#77305d;padding:0px}
.c49{color:#33b675;padding:1px}
.c50{color:#c29fe7;padding:2px}
.c51{color:#8e528e;padding:3px}
.c52{color:#e82565;padding:4px}
.c53{color:#bacb48;padding:5px}
.c54{color:#534765;padding:6px}
.c55{color:#bd885c;padding:7px}
.c56{color:#b5e60a;padding:0px}
.c57{color:#6b4481;padding:1px}
.c58{color:#88b151;padding:2px}
.c59{color:#248ede;padding:3px}
.c60{color:#579f7c;padding:4px}
.c61{color:#7d57db;padding:5px}
.c62{color:#53a97d;padding:6px}
.c63{color:#ecad5e;padding:7px}
.c64{color:#c247fb;padding:0px}
.c65{color:#8a3699;padding:1px}
.c66{color:#707166;padding:2px}
.c67{color:#a60862;padding:3px}
.c68{color:#1ca3e6;padding:4px}
.c69{color:#7545c9;padding:5px}
.c70{color:#106f71;padding:6px}
.c71{color:#a1830f;padding:7px}
.c72{color:#cd6578;padding:0px}
.c73{color:#891555;padding:1px}
.c74{color:#21e379;padding:2px}
.c75{color:#6c05f1;padding:3px}
.c76{color:#a11d75;padding:4px}
.c77{color:#6cdd62;padding:5px}
.c78{color:#ff9b3d;padding:6px}
.c79{color:#ca9043;padding:7px}
.c80{color:#eaeea1;padding:0px}
.c81{color:#492677;padding:1px}
.c82{color:#879e5f;padding:2px}
.c83{color:#477da0;padding:3px}
.c84{color:#7e45f5;padding:4px}
.c85{color:#868611;padding:5px}
.c86{color:#db5bad;padding:6px}
.c87{color:#cc7e39;padding:7px}
.c88{color:#b95799;padding:0px}
.c89{color:#704acf;padding:1px}
.c90{color:#46d36b;padding:2px}
.c91{color:#fcae1b;padding:3px}
.c92{color:#2e8bad;padding:4px}
.c93{color:#181fa3;padding:5px}
.c94{color:#3823ee;padding:6px}
.c95{color:#4e4137;padding:7px}
.c96{color:#51e929;padding:0px}
.c97{color:#d82559;padding:1px}
.c98{color:#2086b4;padding:2px}
.c99{color:#c50038;padding:3px}
.c100{color:#c3639a;padding:4px}
.c101{color:#efa43c;padding:5px}
.c102{color:#80b959;padding:6px}
.c103{color:#05e0d7;padding:7px}
.c104{color:#3aa686;padding:0px}
.c105{color:#889d4f;padding:1px}
.c106{color:#ae2b7a;padding:2px}
.c107{color:#391d5d;padding:3px}
.c108{color:#9645a6;padding:4px}
.c109{color:#de998d;padding:5px}
.c110{color:#50fa0d;padding:6px}
.c111{color:#e84e79;padding:7px}
.c112{color:#01a95e;padding:0px}
.c113{color:#86daed;padding:1px}
.c114{color:#5b7842;padding:2px}
.c115{color:#367b7a;padding:3px}
.c116{color:#98cdc1;padding:4px}
.c117{color:#65d7ad;padding:5px}
.c118{color:#4e40f2;padding:6px}
.c119{color:#bf71a2;padding:7px}
.c120{color:#52b68e;padding:0px}
.c121{color:#004af5;padding:1px}
.c122{color:#a5f7c8;padding:2px}
.c123{color:#fa2a87;padding:3px}
.c124{color:#09f8db;padding:4px}
.c125{color:#3946b9;padding:5px}
.c126{color:#b9d89d;padding:6px}
.c127{color:#9d727d;padding:7px}
.c128{color:#7a997e;padding:0px}
.c129{color:#1da85e;padding:1px}
.c130{color:#7b5385;padding:2px}
.c131{color:#2852d8;padding:3px}
.c132{color:#2bdac4;padding:4px}
.c133{color:#f8d3bd;padding:5px}
.c134{color:#236fd2;padding:6px}
.c135{color:#4063ae;padding:7px}
.c136{color:#41bc86;padding:0px}
.c137{color:#f35836;padding:1px}
.c138{color:#548b85;padding:2px}
.c139{color:#87b580;padding:3px}
.c140{color:#d8a589;padding:4px}
.c141{color:#6c70d0;padding:5px}
.c142{color:#66fd45;padding:6px}
.c143{color:#9f9947;padding:7px}
.c144{color:#cc48b7;padding:0px}
.c145{color:#bf30f8;padding:1px}
.c146{color:#e04ea7;padding:2px}
.c147{color:#e72931;padding:3px}
.c148{color:#3df443;padding:4px}
.c149{color:#7eed7c;padding:5px}
.c150{color:#730b87;padding:6px}
.c151{color:#20c800;padding:7px}
.c152{color:#ad198d;padding:0px}
.c153{color:#0ac500;padding:1px}
.c154{color:#75d199;padding:2px}
.c155{color:#70c055;padding:3px}
.c156{color:#03ae84;padding:4px}
.c157{color:#245934;padding:5px}
.c158{color:#1e24b3;padding:6px}
.c159{color:#7537db;padding:7px}
.c160{color:#22824b;padding:0px}
.c161{color:#10155b;padding:1px}
.c162{color:#a92dec;padding:2px}
.c163{color:#24476a;padding:3px}
.c164{color:#79dbbe;padding:4px}
.c165{color:#8e9492;padding:5px}
.c166{color:#f8883f;padding:6px}
.c167{color:#6db072;padding:7px}
.c168{color:#43be60;padding:0px}
.c169{color:#f201ef;padding:1px}
.c170{color:#7c6a22;padding:2px}
.c171{color:#f22982;padding:3px}
.c172{color:#d06a29;padding:4px}
.c173{color:#617d68;padding:5px}
.c174{color:#304b78;padding:6px}
.c175{color:#31a0ea;padding:7px}
.c176{color:#dcb2bd;padding:0px}
.c177{color:#b5667d;padding:1px}
.c178{color:#d8df4c;padding:2px}
.c179{color:#d27bff;padding:3px}
.c180{color:#ef1ddb;padding:4px}
.c181{color:#1bbc53;padding:5px}
.c182{color:#3263d3;padding:6px}
.c183{color:#1f089f;padding:7px}
.c184{color:#ce2460;padding:0px}
.c185{color:#adb912;padding:1px}
.c186{color:#37f21c;padding:2px}
.c187{color:#7f4fe2;padding:3px}
.c188{color:#621818;padding:4px}
.c189{color:#61630f;padding:5px}
.c190{color:#e5b0ac;padding:6px}
.c191{color:#47c5f9;padding:7px}
.c192{color:#d800de;padding:0px}
.c193{color:#5df224;padding:1px}
.c194{color:#8e9d78;padding:2px}
.c195{color:#ecdd96;padding:3px}
.c196{color:#7fe6a1;padding:4px}
.c197{color:#2698d9;padding:5px}
.c198{color:#e2e208;padding:6px}
.c199{color:#322117;padding:7px}
