body{font-family:system-ui;margin:0;padding:1rem}
.c0{color:#5e2562;padding:0px}
.c1{color:#f2710f;padding:1px}
.c2{color:#7b602e;padding:2px}
.c3{color:#73605c;padding:3px}
.c4{color:#99fa1f;padding:4px}
.c5{color:#49e878;padding:5px}
.c6{color:#ed11a2;padding:6px}
.c7{color:#1d80e2;padding:7px}
.c8{color:#d34a76;padding:0px}
.c9{color:#d54084;padding:1px}
.c10{color:#44a7ce;padding:2px}
.c11{color:#c6dedc;padding:3px}
.c12{color:#7c57f3;padding:4px}
.c13{color:#828eca;padding:5px}
.c14{color:#681bc0;padding:6px}
.c15{color:#a9183b;padding:7px}
.c16{color:#287beb;padding:0px}
.c17{color:#e64a75;padding:1px}
.c18{color:#bdfdde;padding:2px}
.c19{color:#2f5770;padding:3px}
.c20{color:#6186ce;padding:4px}
.c21{color:#1a6302;padding:5px}
.c22{color:#8973cc;padding:6px}
.c23{color:#c11c29;padding:7px}
.c24{color:#143f93;padding:0px}
.c25{color:#2543fc;padding:1px}
.c26{color:#6056f0;padding:2px}
.c27{color:#6f1cca;padding:3px}
.c28{color:#f57328;padding:4px}
.c29{color:#6af382;padding:5px}
.c30{color:#aa7a4c;padding:6px}
.c31{color:#9b3b75;padding:7px}
.c32{color:#07d9d1;padding:0px}
.c33{color:#6c7211;padding:1px}
.c34{color:#614ac9;padding:2px}
.c35{color:#3c10de;padding:3px}
.c36{color:#f5351d;padding:4px}
.c37{color:#7c352c;padding:5px}
.c38{color:#68b5f2;padding:6px}
.c39{color:#cb135b;padding:7px}
.c40{color:#7a8996;padding:0px}
.c41{color:#a4aab8;padding:1px}
.c42{color:#90ed22;padding:2px}
.c43{color:#c2e618;padding:3px}
.c44{color:#eeb861;padding:4px}
.c45{color:#b7f0de;padding:5px}
.c46{color:#9de986;padding:6px}
.c47{color:#85eb67;padding:7px}
.c48{color:#b82356;padding:0px}
.c49{color:#fe9b21;padding:1px}
.c50{color:#ee9815;padding:2px}
.c51{color:#327cc7;padding:3px}
.c52{color:#f0610c;padding:4px}
.c53{color:#a3f59d;padding:5px}
.c54{color:#680053;padding:6px}
.c55{color:#bdcd09;padding:7px}
.c56{color:#a03750;padding:0px}
.c57{color:#d3eea7;padding:1px}
.c58{color:#176803;padding:2px}
.c59{color:#714ad6;padding:3px}
.c60{color:#4ab661;padding:4px}
.c61{color:#084df9;padding:5px}
.c62{color:#85842f;padding:6px}
.c63{color:#d5cccb;padding:7px}
.c64{color:#972371;padding:0px}
.c65{color:#4e08de;padding:1px}
.c66{color:#64733f;padding:2px}
.c67{color:#a8e41a;padding:3px}
.c68{color:#75c500;padding:4px}
.c69{color:#c27a5b;padding:5px}
.c70{color:#7dd053;padding:6px}
.c71{color:#ffa471;padding:7px}
.c72{color:#acd539;padding:0px}
.c73{color:#83c055;padding:1px}
.c74{color:#fa2c8b;padding:2px}
.c75{color:#fb2f58;padding:3px}
.c76{color:#ebf1c7;padding:4px}
.c77{color:#5622b8;padding:5px}
.c78{color:#b4506f;padding:6px}
.c79{color:#56a9fe;padding:7px}
.c80{color:#47a8a4;padding:0px}
.c81{color:#fa0498;padding:1px}
.c82{color:#5e3b82;padding:2px}
.c83{color:#1e1220;padding:3px}
.c84{color:#115158;padding:4px}
.c85{color:#260ea2;padding:5px}
.c86{color:#18d6e0;padding:6px}
.c87{color:#0344bd;padding:7px}
.c88{color:#d32512;padding:0px}
.c89{color:#46654a;padding:1px}
.c90{color:#767e70;padding:2px}
.c91{color:#22ccb1;padding:3px}
.c92{color:#4d53c2;padding:4px}
.c93{color:#04ae30;padding:5px}
.c94{color:#6ffc06;padding:6px}
.c95{color:#e97a19;padding:7px}
.c96{color:#bf1429;padding:0px}
.c97{color:#1ef351;padding:1px}
.c98{color:#f76688;padding:2px}
.c99{color:#f9c80c;padding:3px}
.c100{color:#080dfe;padding:4px}
.c101{color:#0362b1;padding:5px}
.c102{color:#d29af6;padding:6px}
.c103{color:#061154;padding:7px}
.c104{color:#089054;padding:0px}
.c105{color:#8caad1;padding:1px}
.c106{color:#92c8d7;padding:2px}
.c107{color:#08c6ea;padding:3px}
.c108{color:#dc7417;padding:4px}
.c109{color:#5bc8dd;padding:5px}
.c110{color:#36cadb;padding:6px}
.c111{color:#31500d;padding:7px}
.c112{color:#4c3c4a;padding:0px}
.c113{color:#7b6044;padding:1px}
.c114{color:#6244eb;padding:2px}
.c115{color:#813cf5;padding:3px}
.c116{color:#b5794d;padding:4px}
.c117{color:#88dec9;padding:5px}
.c118{color:#cb3602;padding:6px}
.c119{color:#287535;padding:7px}
.c120{color:#bf009d;padding:0px}
.c121{color:#cfe2d3;padding:1px}
.c122{color:#eb01c0;padding:2px}
.c123{color:#7c85be;padding:3px}
.c124{color:#73a38f;padding:4px}
.c125{color:#999646;padding:5px}
.c126{color:#29469e;padding:6px}
.c127{color:#1038f3;padding:7px}
.c128{color:#2fdf4c;padding:0px}
.c129{color:#cf80a3;padding:1px}
.c130{color:#c22ee4;padding:2px}
.c131{color:#c11c5e;padding:3px}
.c132{color:#f3b6f0;padding:4px}
.c133{color:#1cbb18;padding:5px}
.c134{color:#04d6a7;padding:6px}
.c135{color:#57bf96;padding:7px}
.c136{color:#2a55d5;padding:0px}
.c137{color:#ffed70;padding:1px}
.c138{color:#de2967;padding:2px}
.c139{color:#a99c4d;padding:3px}
.c140{color:#30d344;padding:4px}
.c141{color:#15c958;padding:5px}
.c142{color:#75a3f4;padding:6px}
.c143{color:#6c3edb;padding:7px}
.c144{color:#f374c6;padding:0px}
.c145{color:#8accf8;padding:1px}
.c146{color:#17d6f8;padding:2px}
.c147{color:#2610f2;padding:3px}
.c148{color:#8f8d0d;padding:4px}
.c149{color:#10d880;padding:5px}
.c150{color:#5bd45a;padding:6px}
.c151{color:#a10423;padding:7px}
.c152{color:#080456;padding:0px}
.c153{color:#6a10a0;padding:1px}
.c154{color:#49d379;padding:2px}
.c155{color:#cbed74;padding:3px}
.c156{color:#276459;padding:4px}
.c157{color:#993ad2;padding:5px}
.c158{color:#532cad;padding:6px}
.c159{color:#7b1f2b;padding:7px}
.c160{color:#c73f88;padding:0px}
.c161{color:#a9d87e;padding:1px}
.c162{color:#c4877d;padding:2px}
.c163{color:#47a79a;padding:3px}
.c164{color:#2827ac;padding:4px}
.c165{color:#b1147f;padding:5px}
.c166{color:#1b7e19;padding:6px}
.c167{color:#3203df;padding:7px}
.c168{color:#dfca08;padding:0px}
.c169{color:#76db94;padding:1px}
.c170{color:#26ebdd;padding:2px}
.c171{color:#ae622c;padding:3px}
.c172{color:#cb1ca9;padding:4px}
.c173{color:#a71ad7;padding:5px}
.c174{color:#0f2b18;padding:6px}
.c175{color:#8bf185;padding:7px}
.c176{color:#e6ae83;padding:0px}
.c177{color:#fb3060;padding:1px}
.c178{color:#74ce8e;padding:2px}
.c179{color:#b62ce2;padding:3px}
.c180{color:#c037f7;padding:4px}
.c181{color:#dd1b2c;padding:5px}
.c182{color:#5f1907;padding:6px}
.c183{color:#c298e4;padding:7px}
.c184{color:#2be019;padding:0px}
.c185{color:#973bfa;padding:1px}
.c186{color:#7e2eaa;padding:2px}
.c187{color:#25a2ab;padding:3px}
.c188{color:#2a00e2;padding:4px}
.c189{color:#8933a1;padding:5px}
.c190{color:#4ef60c;padding:6px}
.c191{color:#c28f5b;padding:7px}
.c192{color:#4efd61;padding:0px}
.c193{color:#c77c88;padding:1px}
.c194{color:#a223a6;padding:2px}
.c195{color:#b8adb3;padding:3px}
.c196{color:#368dd7;padding:4px}
.c197{color:#2edbc4;padding:5px}
.c198{color:#02a8f2;padding:6px}
.c199{color:#9dd53b;padding:7px}
