body{font-family:system-ui;margin:0;padding:1rem}
.c0{color:#46968a;padding:0px}
.c1{color:#c475a1;padding:1px}
.c2{color:#d8988a;padding:2px}
.c3{color:#5f1b1b;padding:3px}
.c4{color:#f92cd6;padding:4px}
.c5{color:#58b23b;padding:5px}
.c6{color:#556f65;padding:6px}
.c7{color:#fab25c;padding:7px}
.c8{color:#93e226;padding:0px}
.c9{color:#47d4f2;padding:1px}
.c10{color:#5fcb62;padding:2px}
.c11{color:#a110a1;padding:3px}
.c12{color:#e6e999;padding:4px}
.c13{color:#1b72ef;padding:5px}
.c14{color:#b7d3fb;padding:6px}
.c15{color:#04e81e;padding:7px}
.c16{color:#f81ea9;padding:0px}
.c17{color:#45e7e0;padding:1px}
.c18{color:#63e7e1;padding:2px}
.c19{color:#c49454;padding:3px}
.c20{color:#fd6cb0;padding:4px}
.c21{color:#d17a0e;padding:5px}
.c22{color:#fbc37e;padding:6px}
.c23{color:#d4cd83;padding:7px}
.c24{color:#e34089;padding:0px}
.c25{color:#fa36d2;padding:1px}
.c26{color:#55a23f;padding:2px}
.c27{color:#2a53cd;padding:3px}
.c28{color:#0fccf9;padding:4px}
.c29{color:#70e93e;padding:5px}
.c30{color:#958ccf;padding:6px}
.c31{color:#10bd69;padding:7px}
.c32{color:#8cb985;padding:0px}
.c33{color:#731ead;padding:1px}
.c34{color:#93cc98;padding:2px}
.c35{color:#561f7c;padding:3px}
.c36{color:#ea2607;padding:4px}
.c37{color:#fd99b5;padding:5px}
.c38{color:#39f6ca;padding:6px}
.c39{color:#3a794b;padding:7px}
.c40{color:#8928bc;padding:0px}
.c41{color:#bbd54e;padding:1px}
.c42{color:#154df9;padding:2px}
.c43{color:#e1facc;padding:3px}
.c44{color:#6fe4ba;padding:4px}
.c45{color:#d9ade0;padding:5px}
.c46{color:#346fed;padding:6px}
.c47{color:#7ebc77;padding:7px}
.c48{color:#986d4e;padding:0px}
.c49{color:#108080;padding:1px}
.c50{color:#e64351;padding:2px}
.c51{color:#868fb7;padding:3px}
.c52{color:#b278ae;padding:4px}
.c53{color:#2c8909;padding:5px}
.c54{color:#e0cdc5;padding:6px}
.c55{color:#3c1a05;padding:7px}
.c56{color:#7950fe;padding:0px}
.c57{color:#6b7526;padding:1px}
.c58{color:#b385e2;padding:2px}
.c59{color:#db38b6;padding:3px}
.c60{color:#54fb8a;padding:4px}
.c61{color:#4749ce;padding:5px}
.c62{color:#69ca0d;padding:6px}
.c63{color:#69f465;padding:7px}
.c64{color:#1e6426;padding:0px}
.c65{color:#b39e16;padding:1px}
.c66{color:#8fea60;padding:2px}
.c67{color:#56358e;padding:3px}
.c68{color:#a5b5ed;padding:4px}
.c69{color:#95d437;padding:5px}
.c70{color:#94237c;padding:6px}
.c71{color:#88e130;padding:7px}
.c72{color:#30c15a;padding:0px}
.c73{color:#456be8;padding:1px}
.c74{color:#d2bcbd;padding:2px}
.c75{color:#1e5ab8;padding:3px}
.c76{color:#8dfd59;padding:4px}
.c77{color:#40f77c;padding:5px}
.c78{color:#43f00e;padding:6px}
.c79{color:#7fd5b2;padding:7px}
.c80{color:#4ae06b;padding:0px}
.c81{color:#a4e9dc;padding:1px}
.c82{color:#7ebf7e;padding:2px}
.c83{color:#c91012;padding:3px}
.c84{color:#fa9a55;padding:4px}
.c85{color:#48cab8;padding:5px}
.c86{color:#89954b;padding:6px}
.c87{color:#d4154f;padding:7px}
.c88{color:#c01696;padding:0px}
.c89{color:#e76b75;padding:1px}
.c90{color:#26aa11;padding:2px}
.c91{color:#2faa1e;padding:3px}
.c92{color:#ce4274;padding:4px}
.c93{color:#8e7398;padding:5px}
.c94{color:#bcf6e5;padding:6px}
.c95{color:#e8cdde;padding:7px}
.c96{color:#f9e0f7;padding:0px}
.c97{color:#a79275;padding:1px}
.c98{color:#014426;padding:2px}
.c99{color:#2fb043;padding:3px}
.c100{color:#eab9dc;padding:4px}
.c101{color:#b768f8;padding:5px}
.c102{color:#206ce1;padding:6px}
.c103{color:#cba16a;padding:7px}
.c104{color:#6f8767;padding:0px}
.c105{color:#dbfa2e;padding:1px}
.c106{color:#6c77cb;padding:2px}
.c107{color:#fd4b47;padding:3px}
.c108{color:#897da9;padding:4px}
.c109{color:#a54e94;padding:5px}
.c110{color:#91331c;padding:6px}
.c111{color:#acee3e;padding:7px}
.c112{color:#42dd3f;padding:0px}
.c113{color:#f87e35;padding:1px}
.c114{color:#affea3;padding:2px}
.c115{color:#18c919;padding:3px}
.c116{color:#1785d4;padding:4px}
.c117{color:#32fb75;padding:5px}
.c118{color:#eb4e4d;padding:6px}
.c119{color:#085607;padding:7px}
.c120{color:#3f9c03;padding:0px}
.c121{color:#50e337;padding:1px}
.c122{color:#e1f03b;padding:2px}
.c123{color:#e9bcbe;padding:3px}
.c124{color:#005898;padding:4px}
.c125{color:#db0882;padding:5px}
.c126{color:#679640;padding:6px}
.c127{color:#438a1c;padding:7px}
.c128{color:#9a8e1d;padding:0px}
.c129{color:#51657e;padding:1px}
.c130{color:#8c4c47;padding:2px}
.c131{color:#2fca42;padding:3px}
.c132{color:#b88afc;padding:4px}
.c133{color:#803306;padding:5px}
.c134{color:#2a3306;padding:6px}
.c135{color:#be624e;padding:7px}
.c136{color:#54bfb4;padding:0px}
.c137{color:#1a83dc;padding:1px}
.c138{color:#caed48;padding:2px}
.c139{color:#9c6bb5;padding:3px}
.c140{color:#77e1b3;padding:4px}
.c141{color:#dbc428;padding:5px}
.c142{color:#2eb1a8;padding:6px}
.c143{color:#30bbea;padding:7px}
.c144{color:#008e62;padding:0px}
.c145{color:#6d458a;padding:1px}
.c146{color:#f42002;padding:2px}
.c147{color:#27e795;padding:3px}
.c148{color:#43f13a;padding:4px}
.c149{color:#73cf49;padding:5px}
.c150{color:#e3dfce;padding:6px}
.c151{color:#04c142;padding:7px}
.c152{color:#0420c6;padding:0px}
.c153{color:#afe8f3;padding:1px}
.c154{color:#3dbe77;padding:2px}
.c155{color:#d83988;padding:3px}
.c156{color:#43ac76;padding:4px}
.c157{color:#f49520;padding:5px}
.c158{color:#24439b;padding:6px}
.c159{color:#753886;padding:7px}
.c160{color:#c421bd;padding:0px}
.c161{color:#2dbccd;padding:1px}
.c162{color:#347155;padding:2px}
.c163{color:#34d6d4;padding:3px}
.c164{color:#a06f9a;padding:4px}
.c165{color:#bc310b;padding:5px}
.c166{color:#9937fe;padding:6px}
.c167{color:#4635cf;padding:7px}
.c168{color:#c3f403;padding:0px}
.c169{color:#442bbe;padding:1px}
.c170{color:#492409;padding:2px}
.c171{color:#2306d8;padding:3px}
.c172{color:#0456cd;padding:4px}
.c173{color:#540715;padding:5px}
.c174{color:#e154b6;padding:6px}
.c175{color:#b3cee0;padding:7px}
.c176{color:#6d159a;padding:0px}
.c177{color:#4d80e8;padding:1px}
.c178{color:#d2cba3;padding:2px}
.c179{color:#e28023;padding:3px}
.c180{color:#6f3ab1;padding:4px}
.c181{color:#2c625f;padding:5px}
.c182{color:#337029;padding:6px}
.c183{color:#47afcd;padding:7px}
.c184{color:#3f0e76;padding:0px}
.c185{color:#c49fd4;padding:1px}
.c186{color:#b3fc7a;padding:2px}
.c187{color:#dbd8d7;padding:3px}
.c188{color:#a1069f;padding:4px}
.c189{color:#4797d2;padding:5px}
.c190{color:#7edddb;padding:6px}
.c191{color:#8dceb4;padding:7px}
.c192{color:#2b22a5;padding:0px}
.c193{color:#7f0fbf;padding:1px}
.c194{color:#91e123;padding:2px}
.c195{color:#0dbbed;padding:3px}
.c196{color:#9a71c8;padding:4px}
.c197{color:#69302e;padding:5px}
.c198{color:#609646;padding:6px}
.c199{color:#c89396;padding:7px}
