body{font-family:system-ui;margin:0;padding:1rem}
.c0{color:#2fa4b0;padding:0px}
.c1{color:#96a60b;padding:1px}
.c2{color:#717515;padding:2px}
.c3{color:#cf0daa;padding:3px}
.c4{color:#7c927e;padding:4px}
.c5{color:#9cc709;padding:5px}
.c6{color:#bcf03f;padding:6px}
.c7{color:#f24f32;padding:7px}
.c8{color:#b000f8;padding:0px}
.c9{color:#d9dba2;padding:1px}
.c10{color:#a95d7a;padding:2px}
.c11{color:#b42082;padding:3px}
.c12{color:#e8514c;padding:4px}
.c13{color:#8ab58e;padding:5px}
.c14{color:#9cfdb0;padding:6px}
.c15{color:#80b7fb;padding:7px}
.c16{color:#760915;padding:0px}
.c17{color:#3dc69b;padding:1px}
.c18{color:#629a68;padding:2px}
.c19{color:#a18f80;padding:3px}
.c20{color:#3d3647;padding:4px}
.c21{color:#5ecbf5;padding:5px}
.c22{color:#6211a8;padding:6px}
.c23{color:#6ec9f7;padding:7px}
.c24{color:#f7e8e0;padding:0px}
.c25{color:#8d915b;padding:1px}
.c26{color:#90e534;padding:2px}
.c27{color:#337828;padding:3px}
.c28{color:#636361;padding:4px}
.c29{color:#97ad9d;padding:5px}
.c30{color:#7478ac;padding:6px}
.c31{color:#b8c567;padding:7px}
.c32{color:#5bdfc3;padding:0px}
.c33{color:#9ac2d1;padding:1px}
.c34{color:#073e74;padding:2px}
.c35{color:#40cf7b;padding:3px}
.c36{color:#8c7288;padding:4px}
.c37{color:#174dd5;padding:5px}
.c38{color:#1bead5;padding:6px}
.c39{color:#9592ef;padding:7px}
.c40{color:#40a7b4;padding:0px}
.c41{color:#fb5473;padding:1px}
.c42{color:#34865e;padding:2px}
.c43{color:#0647a6;padding:3px}
.c44{color:#9194ec;padding:4px}
.c45{color:#f054cb;padding:5px}
.c46{color:#f51a07;padding:6px}
.c47{color:#e18520;padding:7px}
.c48{color:#ae7102;padding:0px}
.c49{color:#5e64ea;padding:1px}
.c50{color:#1a4e0c;padding:2px}
.c51{color:#8144d8;padding:3px}
.c52{color:#f498eb;padding:4px}
.c53{color:#3a69a1;padding:5px}
.c54{color:#2174b1;padding:6px}
.c55{color:#cd2986;padding:7px}
.c56{color:#fbc634;padding:0px}
.c57{color:#25ee19;padding:1px}
.c58{color:#1b72a6;padding:2px}
.c59{color:#4daf29;padding:3px}
.c60{color:#4c63a0;padding:4px}
.c61{color:#9b9054;padding:5px}
.c62{color:#2b9cd4;padding:6px}
.c63{color:#7f12e2;padding:7px}
.c64{color:#3ca5ae;padding:0px}
.c65{color:#d514c2;padding:1px}
.c66{color:#738d43;padding:2px}
.c67{color:#c2c0e8;padding:3px}
.c68{color:#e6a9d4;padding:4px}
.c69{color:#e2ac53;padding:5px}
.c70{color:#983eab;padding:6px}
.c71{color:#db8f95;padding:7px}
.c72{color:#9c5acc;padding:0px}
.c73{color:#1ed681;padding:1px}
.c74{color:#32cebe;padding:2px}
.c75{color:#6a632d;padding:3px}
.c76{color:#6c0b7e;padding:4px}
.c77{color:#877fb2;padding:5px}
.c78{color:#299167;padding:6px}
.c79{color:#5069c9;padding:7px}
.c80{color:#7acf9b;padding:0px}
.c81{color:#58fe16;padding:1px}
.c82{color:#266ee7;padding:2px}
.c83{color:#50250b;padding:3px}
.c84{color:#015eb6;padding:4px}
.c85{color:#d12937;padding:5px}
.c86{color:#e6a86b;padding:6px}
.c87{color:#f0985e;padding:7px}
.c88{color:#951ff0;padding:0px}
.c89{color:#10b62b;padding:1px}
.c90{color:#76840d;padding:2px}
.c91{color:#93827b;padding:3px}
.c92{color:#90c076;padding:4px}
.c93{color:#e876cb;padding:5px}
.c94{color:#2471ac;padding:6px}
.c95{color:#778353;padding:7px}
.c96{color:#8773b4;padding:0px}
.c97{color:#65488f;padding:1px}
.c98{color:#d9abd0;padding:2px}
.c99{color:#3ac3f5;padding:3px}
.c100{color:#731a39;padding:4px}
.c101{color:#4c4856;padding:5px}
.c102{color:#8800fa;padding:6px}
.c103{color:#48d331;padding:7px}
.c104{color:#248fd4;padding:0px}
.c105{color:#1e88e0;padding:1px}
.c106{color:#54f3d4;padding:2px}
.c107{color:#9d7f4b;padding:3px}
.c108{color:#93c4c4;padding:4px}
.c109{color:#e0d8b8;padding:5px}
.c110{color:#3fab48;padding:6px}
.c111{color:#eff92e;padding:7px}
.c112{color:#9bb1d7;padding:0px}
.c113{color:#ce1598;padding:1px}
.c114{color:#8b63da;padding:2px}
.c115{color:#fcd2ba;padding:3px}
.c116{color:#e021ee;padding:4px}
.c117{color:#292fac;padding:5px}
.c118{color:#1468a1;padding:6px}
.c119{color:#dd32dc;padding:7px}
.c120{color:#a50755;padding:0px}
.c121{color:#803038;padding:1px}
.c122{color:#0d3e29;padding:2px}
.c123{color:#2ec265;padding:3px}
.c124{color:#753594;padding:4px}
.c125{color:#0a9f25;padding:5px}
.c126{color:#89fd59;padding:6px}
.c127{color:#14993e;padding:7px}
.c128{color:#59b299;padding:0px}
.c129{color:#f0e57b;padding:1px}
.c130{color:#e26be4;padding:2px}
.c131{color:#8e6a89;padding:3px}
.c132{color:#5cec25;padding:4px}
.c133{color:#df2c51;padding:5px}
.c134{color:#fbc37b;padding:6px}
.c135{color:#2eb753;padding:7px}
.c136{color:#f0a533;padding:0px}
.c137{color:#b227f3;padding:1px}
.c138{color:#d11300;padding:2px}
.c139{color:#aaa765;padding:3px}
.c140{color:#a461bf;padding:4px}
.c141{color:#358e1d;padding:5px}
.c142{color:#5257a2;padding:6px}
.c143{color:#a8dc06;padding:7px}
.c144{color:#d2c325;padding:0px}
.c145{color:#fdae1d;padding:1px}
.c146{color:#939148;padding:2px}
.c147{color:#cd0813;padding:3px}
.c148{color:#12c9f7;padding:4px}
.c149{color:#e8def1;padding:5px}
.c150{color:#2d162c;padding:6px}
.c151{color:#a10864;padding:7px}
.c152{color:#813a6c;padding:0px}
.c153{color:#a58424;padding:1px}
.c154{color:#3b5a13;padding:2px}
.c155{color:#cef008;padding:3px}
.c156{color:#0096df;padding:4px}
.c157{color:#ec8829;padding:5px}
.c158{color:#d3952f;padding:6px}
.c159{color:#1bc0a3;padding:7px}
.c160{color:#600ad1;padding:0px}
.c161{color:#b93b24;padding:1px}
.c162{color:#ff3a7c;padding:2px}
.c163{color:#e25331;padding:3px}
.c164{color:#1a6cdb;padding:4px}
.c165{color:#6838c9;padding:5px}
.c166{color:#88bb98;padding:6px}
.c167{color:#43142a;padding:7px}
.c168{color:#93788e;padding:0px}
.c169{color:#e050c0;padding:1px}
.c170{color:#f82c25;padding:2px}
.c171{color:#3e2b8f;padding:3px}
.c172{color:#0ec7f9;padding:4px}
.c173{color:#7a8532;padding:5px}
.c174{color:#5116f1;padding:6px}
.c175{color:#9f1aa4;padding:7px}
.c176{color:#070056;padding:0px}
.c177{color:#d0e427;padding:1px}
.c178{color:#2fb91d;padding:2px}
.c179{color:#730bf6;padding:3px}
.c180{color:#3a1793;padding:4px}
.c181{color:#ec42e5;padding:5px}
.c182{color:#3c2485;padding:6px}
.c183{color:#4ed54d;padding:7px}
.c184{color:#ff2b12;padding:0px}
.c185{color:#956ee0;padding:1px}
.c186{color:#8bfe59;padding:2px}
.c187{color:#d4bb26;padding:3px}
.c188{color:#f70a2f;padding:4px}
.c189{color:#f1c6ca;padding:5px}
.c190{color:#7cca4c;padding:6px}
.c191{color:#e9dfea;padding:7px}
.c192{color:#4a0e83;padding:0px}
.c193{color:#c46562;padding:1px}
.c194{color:#6197ae;padding:2px}
.c195{color:#45e46b;padding:3px}
.c196{color:#23be25;padding:4px}
.c197{color:#8d704c;padding:5px}
.c198{color:#d47355;padding:6px}
.c199{color:#ae0420;padding:7px}
