body{font-family:system-ui;margin:0;padding:1rem}
.c0{color:#38c25d;padding:0px}
.c1{color:#ffe99d;padding:1px}
.c2{color:#086a36;padding:2px}
.c3{color:#7bdf50;padding:3px}
.c4{color:#4982e7;padding:4px}
.c5{color:#95219a;padding:5px}
.c6{color:#dbc533;padding:6px}
.c7{color:#00cd0a;padding:7px}
.c8{color:#b4a44d;padding:0px}
.c9{color:#7b2b3c;padding:1px}
.c10{color:#d54859;padding:2px}
.c11{color:#5fe79b;padding:3px}
.c12{color:#2bd597;padding:4px}
.c13{color:#b8a10e;padding:5px}
.c14{color:#22a6dd;padding:6px}
.c15{color:#0a6942;padding:7px}
.c16{color:#c7e98d;padding:0px}
.c17{color:#f0b58b;padding:1px}
.c18{color:#164a24;padding:2px}
.c19{color:#c6154e;padding:3px}
.c20{color:#bf217d;padding:4px}
.c21{color:#81de72;padding:5px}
.c22{color:#0850e6;padding:6px}
.c23{color:#b6d502;padding:7px}
.c24{color:#22972a;padding:0px}
.c25{color:#b089f3;padding:1px}
.c26{color:#7b74db;padding:2px}
.c27{color:#35136e;padding:3px}
.c28{color:#aa3fe1;padding:4px}
.c29{color:#444e43;padding:5px}
.c30{color:#16b32a;padding:6px}
.c31{color:#b4608a;padding:7px}
.c32{color:#ad5610;padding:0px}
.c33{color:#59a548;padding:1px}
.c34{color:#ede30d;padding:2px}
.c35{color:#f50209;padding:3px}
.c36{color:#5d538a;padding:4px}
.c37{color:#450b65;padding:5px}
.c38{color:#204eb6;padding:6px}
.c39{color:#ea54fa;padding:7px}
.c40{color:#12ef8a;padding:0px}
.c41{color:#963e1a;padding:1px}
.c42{color:#6736ef;padding:2px}
.c43{color:#166dc6;padding:3px}
.c44{color:#6620e8;padding:4px}
.c45{color:#1574b2;padding:5px}
.c46{color:#a195c6;padding:6px}
.c47{color:#9ec244;padding:7px}
.c48{color:#cbe405;padding:0px}
.c49{color:#f26174;padding:1px}
.c50{color:#81b257;padding:2px}
.c51{color:#12bff5;padding:3px}
.c52{color:#61d84f;padding:4px}
.c53{color:#927d20;padding:5px}
.c54{color:#b6c551;padding:6px}
.c55{color:#1879c5;padding:7px}
.c56{color:#a9f208;padding:0px}
.c57{color:#8be30c;padding:1px}
.c58{color:#3fbb30;padding:2px}
.c59{color:#bc6d02;padding:3px}
.c60{color:#dfb817;padding:4px}
.c61{color:#cccfa7;padding:5px}
.c62{color:#e12528;padding:6px}
.c63{color:#c5f64d;padding:7px}
.c64{color:#ad9635;padding:0px}
.c65{color:#5fa681;padding:1px}
.c66{color:#fe0e59;padding:2px}
.c67{color:#febb62;padding:3px}
.c68{color:#bc14e5;padding:4px}
.c69{color:#888f9d;padding:5px}
.c70{color:#2a4c0e;padding:6px}
.c71{color:#d95805;padding:7px}
.c72{color:#28691e;padding:0px}
.c73{color:#dc788a;padding:1px}
.c74{color:#5c64ca;padding:2px}
.c75{color:#96688d;padding:3px}
.c76{color:#a475d3;padding:4px}
.c77{color:#3487b6;padding:5px}
.c78{color:#28feca;padding:6px}
.c79{color:#a7e51e;padding:7px}
.c80{color:#975e1e;padding:0px}
.c81{color:#9ced06;padding:1px}
.c82{color:#e44f12;padding:2px}
.c83{color:#da2be2;padding:3px}
.c84{color:#555276;padding:4px}
.c85{color:#e347f5;padding:5px}
.c86{color:#b3fdf7;padding:6px}
.c87{color:#e4ee2d;padding:7px}
.c88{color:#15af93;padding:0px}
.c89{color:#b482a7;padding:1px}
.c90{color:#deb085;padding:2px}
.c91{color:#8c9285;padding:3px}
.c92{color:#1d5e09;padding:4px}
.c93{color:#266bcb;padding:5px}
.c94{color:#cffac9;padding:6px}
.c95{color:#ba03ea;padding:7px}
.c96{color:#51e9c7;padding:0px}
.c97{color:#0ff1a9;padding:1px}
.c98{color:#491a63;padding:2px}
.c99{color:#e05830;padding:3px}
.c100{color:#11d12b;padding:4px}
.c101{color:#40a138;padding:5px}
.c102{color:#226c69;padding:6px}
.c103{color:#78d462;padding:7px}
.c104{color:#bb8f67;padding:0px}
.c105{color:#b96bcd;padding:1px}
.c106{color:#c4057d;padding:2px}
.c107{color:#1094cf;padding:3px}
.c108{color:#4e8f72;padding:4px}
.c109{color:#e65c40;padding:5px}
.c110{color:#bdef0f;padding:6px}
.c111{color:#be7889;padding:7px}
.c112{color:#e34c02;padding:0px}
.c113{color:#275d86;padding:1px}
.c114{color:#467ff9;padding:2px}
.c115{color:#bbe0dd;padding:3px}
.c116{color:#cbcb1e;padding:4px}
.c117{color:#a0f720;padding:5px}
.c118{color:#8eb06c;padding:6px}
.c119{color:#7fcd19;padding:7px}
.c120{color:#3a15ef;padding:0px}
.c121{color:#0d4483;padding:1px}
.c122{color:#5f41b0;padding:2px}
.c123{color:#ff82b0;padding:3px}
.c124{color:#c62335;padding:4px}
.c125{color:#3c4b2b;padding:5px}
.c126{color:#860797;padding:6px}
.c127{color:#8544b3;padding:7px}
.c128{color:#e47de8;padding:0px}
.c129{color:#6ddc2c;padding:1px}
.c130{color:#923721;padding:2px}
.c131{color:#fb7e97;padding:3px}
.c132{color:#667dc6;padding:4px}
.c133{color:#3eca55;padding:5px}
.c134{color:#457e31;padding:6px}
.c135{color:#25ea26;padding:7px}
.c136{color:#e77223;padding:0px}
.c137{color:#58666a;padding:1px}
.c138{color:#e3e59d;padding:2px}
.c139{color:#2cf2e8;padding:3px}
.c140{color:#a3a102;padding:4px}
.c141{color:#b1e1ba;padding:5px}
.c142{color:#213fb1;padding:6px}
.c143{color:#94aa5d;padding:7px}
.c144{color:#9993eb;padding:0px}
.c145{color:#50a487;padding:1px}
.c146{color:#592274;padding:2px}
.c147{color:#b91580;padding:3px}
.c148{color:#72cfcc;padding:4px}
.c149{color:#3e2338;padding:5px}
.c150{color:#66e6e6;padding:6px}
.c151{color:#471ade;padding:7px}
.c152{color:#79357c;padding:0px}
.c153{color:#fcf071;padding:1px}
.c154{color:#0d7519;padding:2px}
.c155{color:#b8c76d;padding:3px}
.c156{color:#bce1ec;padding:4px}
.c157{color:#ef4fd1;padding:5px}
.c158{color:#42715f;padding:6px}
.c159{color:#2c246f;padding:7px}
.c160{color:#21a9bc;padding:0px}
.c161{color:#9e5b5a;padding:1px}
.c162{color:#cbdb9f;padding:2px}
.c163{color:#f51397;padding:3px}
.c164{color:#d253bc;padding:4px}
.c165{color:#d1a145;padding:5px}
.c166{color:#25c2a7;padding:6px}
.c167{color:#402ad4;padding:7px}
.c168{color:#a25173;padding:0px}
.c169{color:#25f8f5;padding:1px}
.c170{color:#e6630e;padding:2px}
.c171{color:#ee81b0;padding:3px}
.c172{color:#b0643d;padding:4px}
.c173{color:#41b512;padding:5px}
.c174{color:#5d2a45;padding:6px}
.c175{color:#42109b;padding:7px}
.c176{color:#dd8024;padding:0px}
.c177{color:#1c5f12;padding:1px}
.c178{color:#3f920b;padding:2px}
.c179{color:#4e580b;padding:3px}
.c180{color:#9bb636;padding:4px}
.c181{color:#544dee;padding:5px}
.c182{color:#52ed55;padding:6px}
.c183{color:#a533ca;padding:7px}
.c184{color:#7370d7;padding:0px}
.c185{color:#b129ef;padding:1px}
.c186{color:#916ec7;padding:2px}
.c187{color:#286053;padding:3px}
.c188{color:#804f56;padding:4px}
.c189{color:#6481af;padding:5px}
.c190{color:#8c84d8;padding:6px}
.c191{color:#401652;padding:7px}
.c192{color:#9b0bd3;padding:0px}
.c193{color:#2fd5d9;padding:1px}
.c194{color:#565771;padding:2px}
.c195{color:#4ef28d;padding:3px}
.c196{color:#57a79b;padding:4px}
.c197{color:#acdc79;padding:5px}
.c198{color:#15176b;padding:6px}
.c199{color:#0e86f8;padding:7px}
