body{font-family:system-ui;margin:0;padding:1rem}
.c0{color:#975149;padding:0px}
.c1{color:#1bf07c;padding:1px}
.c2{color:#7a8ae9;padding:2px}
.c3{color:#fd61ec;padding:3px}
.c4{color:#c592cb;padding:4px}
.c5{color:#39b989;padding:5px}
.c6{color:#7b6f11;padding:6px}
.c7{color:#ffc948;padding:7px}
.c8{color:#245baf;padding:0px}
.c9{color:#062da5;padding:1px}
.c10{color:#b8e1dd;padding:2px}
.c11{color:#a208b4;padding:3px}
.c12{color:#439342;padding:4px}
.c13{color:#c60fa9;padding:5px}
.c14{color:#d77b6c;padding:6px}
.c15{color:#bb1757;padding:7px}
.c16{color:#587559;padding:0px}
.c17{color:#f128d4;padding:1px}
.c18{color:#255f2f;padding:2px}
.c19{color:#088b83;padding:3px}
.c20{color:#2293a1;padding:4px}
.c21{color:#070fee;padding:5px}
.c22{color:#863d26;padding:6px}
.c23{color:#6e75db;padding:7px}
.c24{color:#14642f;padding:0px}
.c25{color:#1ef5c6;padding:1px}
.c26{color:#cbc361;padding:2px}
.c27{color:#92ae87;padding:3px}
.c28{color:#d4b380;padding:4px}
.c29{color:#d8deda;padding:5px}
.c30{color:#cdf74e;padding:6px}
.c31{color:#2a33fa;padding:7px}
.c32{color:#4e2c21;padding:0px}
.c33{color:#8e1040;padding:1px}
.c34{color:#2acd3c;padding:2px}
.c35{color:#9eac1d;padding:3px}
.c36{color:#287583;padding:4px}
.c37{color:#680980;padding:5px}
.c38{color:#4f8d97;padding:6px}
.c39{color:#a74bd0;padding:7px}
.c40{color:#c80df5;padding:0px}
.c41{color:#21d9d6;padding:1px}
.c42{color:#9ece89;padding:2px}
.c43{color:#dffe2b;padding:3px}
.c44{color:#7a2eae;padding:4px}
.c45{color:#1da5d9;padding:5px}
.c46{color:#7d2c73;padding:6px}
.c47{color:#2c2415;padding:7px}
.c48{color:#de74a2;padding:0px}
.c49{color:#3b6297;padding:1px}
.c50{color:#e8205a;padding:2px}
.c51{color:#1c2cb6;padding:3px}
.c52{color:#9e5b44;padding:4px}
.c53{color:#59ee42;padding:5px}
.c54{color:#3d27a2;padding:6px}
.c55{color:#067c05;padding:7px}
.c56{color:#46409f;padding:0px}
.c57{color:#05cfbf;padding:1px}
.c58{color:#53e1de;padding:2px}
.c59{color:#fe29d5;padding:3px}
.c60{color:#b18355;padding:4px}
.c61{color:#84bc04;padding:5px}
.c62{color:#557c2b;padding:6px}
.c63{color:#be65ab;padding:7px}
.c64{color:#40fd0c;padding:0px}
.c65{color:#899b7f;padding:1px}
.c66{color:#3c71ee;padding:2px}
.c67{color:#0f07c8;padding:3px}
.c68{color:#ab8690;padding:4px}
.c69{color:#dbd06e;padding:5px}
.c70{color:#8b410a;padding:6px}
.c71{color:#20b3d4;padding:7px}
.c72{color:#86a156;padding:0px}
.c73{color:#2775b9;padding:1px}
.c74{color:#fe070d;padding:2px}
.c75{color:#e90fae;padding:3px}
.c76{color:#b86228;padding:4px}
.c77{color:#1c6283;padding:5px}
.c78{color:#ffcce1;padding:6px}
.c79{color:#55717a;padding:7px}
.c80{color:#bc4192;padding:0px}
.c81{color:#508aef;padding:1px}
.c82{color:#829e93;padding:2px}
.c83{color:#34aff3;padding:3px}
.c84{color:#3b0d01;padding:4px}
.c85{color:#74f16c;padding:5px}
.c86{color:#0150a8;padding:6px}
.c87{color:#168c22;padding:7px}
.c88{color:#064a9f;padding:0px}
.c89{color:#7d35d9;padding:1px}
.c90{color:#178ae4;padding:2px}
.c91{color:#f18b20;padding:3px}
.c92{color:#ba5b20;padding:4px}
.c93{color:#c415e2;padding:5px}
.c94{color:#4cd7e5;padding:6px}
.c95{color:#5ba0c4;padding:7px}
.c96{color:#121b2c;padding:0px}
.c97{color:#d6b792;padding:1px}
.c98{color:#72f3ab;padding:2px}
.c99{color:#a4c33b;padding:3px}
.c100{color:#7f1c5a;padding:4px}
.c101{color:#d51f95;padding:5px}
.c102{color:#a3ce89;padding:6px}
.c103{color:#8ae252;padding:7px}
.c104{color:#27e0d0;padding:0px}
.c105{color:#bee0b6;padding:1px}
.c106{color:#3d221e;padding:2px}
.c107{color:#1af7d8;padding:3px}
.c108{color:#5bd305;padding:4px}
.c109{color:#72454f;padding:5px}
.c110{color:#1783f3;padding:6px}
.c111{color:#cd4605;padding:7px}
.c112{color:#234a53;padding:0px}
.c113{color:#ee20d2;padding:1px}
.c114{color:#908a86;padding:2px}
.c115{color:#9f13c7;padding:3px}
.c116{color:#a793fc;padding:4px}
.c117{color:#2c3ab9;padding:5px}
.c118{color:#e9daa2;padding:6px}
.c119{color:#041489;padding:7px}
.c120{color:#bce2ff;padding:0px}
.c121{color:#66be5e;padding:1px}
.c122{color:#954bf3;padding:2px}
.c123{color:#9b9a00;padding:3px}
.c124{color:#7c33f8;padding:4px}
.c125{color:#ed87cc;padding:5px}
.c126{color:#bc8e5c;padding:6px}
.c127{color:#fc99c5;padding:7px}
.c128{color:#640e68;padding:0px}
.c129{color:#7d8145;padding:1px}
.c130{color:#4d1709;padding:2px}
.c131{color:#0343f6;padding:3px}
.c132{color:#d1f040;padding:4px}
.c133{color:#0c3df7;padding:5px}
.c134{color:#774b7a;padding:6px}
.c135{color:#b15e72;padding:7px}
.c136{color:#04e99c;padding:0px}
.c137{color:#ab8765;padding:1px}
.c138{color:#00bfa1;padding:2px}
.c139{color:#c0a718;padding:3px}
.c140{color:#9d7208;padding:4px}
.c141{color:#3538ce;padding:5px}
.c142{color:#690f3c;padding:6px}
.c143{color:#79f11a;padding:7px}
.c144{color:#d6f21a;padding:0px}
.c145{color:#fbeb35;padding:1px}
.c146{color:#1eaa91;padding:2px}
.c147{color:#48e52d;padding:3px}
.c148{color:#8f4542;padding:4px}
.c149{color:#2fa130;padding:5px}
.c150{color:#167a18;padding:6px}
.c151{color:#768392;padding:7px}
.c152{color:#d37c2e;padding:0px}
.c153{color:#beb744;padding:1px}
.c154{color:#eabb02;padding:2px}
.c155{color:#2b7854;padding:3px}
.c156{color:#30ef78;padding:4px}
.c157{color:#445bed;padding:5px}
.c158{color:#c9e869;padding:6px}
.c159{color:#26502e;padding:7px}
.c160{color:#1fe38a;padding:0px}
.c161{color:#deb613;padding:1px}
.c162{color:#42ec32;padding:2px}
.c163{color:#793a25;padding:3px}
.c164{color:#95568f;padding:4px}
.c165{color:#85a09a;padding:5px}
.c166{color:#a148d9;padding:6px}
.c167{color:#c93117;padding:7px}
.c168{color:#a70a72;padding:0px}
.c169{color:#a2d876;padding:1px}
.c170{color:#e7cfe0;padding:2px}
.c171{color:#8b3dcc;padding:3px}
.c172{color:#779be4;padding:4px}
.c173{color:#263d6e;padding:5px}
.c174{color:#67c9f3;padding:6px}
.c175{color:#45b073;padding:7px}
.c176{color:#37cb49;padding:0px}
.c177{color:#4f91f8;padding:1px}
.c178{color:#3618c5;padding:2px}
.c179{color:#5428f5;padding:3px}
.c180{color:#e62d9c;padding:4px}
.c181{color:#ee9ec6;padding:5px}
.c182{color:#a0c8f8;padding:6px}
.c183{color:#d02269;padding:7px}
.c184{color:#3dd134;padding:0px}
.c185{color:#b77173;padding:1px}
.c186{color:#6a4f4b;padding:2px}
.c187{color:#e761ac;padding:3px}
.c188{color:#9dda82;padding:4px}
.c189{color:#ed3bc3;padding:5px}
.c190{color:#87af1e;padding:6px}
.c191{color:#3d654f;padding:7px}
.c192{color:#2e4ba5;padding:0px}
.c193{color:#50b2f6;padding:1px}
.c194{color:#9bc210;padding:2px}
.c195{color:#14a61b;padding:3px}
.c196{color:#6e1734;padding:4px}
.c197{color:#a7d492;padding:5px}
.c198{color:#4bf118;padding:6px}
.c199{color:#2eb375;padding:7px}
