body{font-family:system-ui;margin:0;padding:1rem}
.c0{color:#2eefd1;padding:0px}
.c1{color:#6c9922;padding:1px}
.c2{color:#0aef5d;padding:2px}
.c3{color:#19e56d;padding:3px}
.c4{color:#aac1b6;padding:4px}
.c5{color:#7cb50f;padding:5px}
.c6{color:#407918;padding:6px}
.c7{color:#6910b4;padding:7px}
.c8{color:#2320de;padding:0px}
.c9{color:#6a1087;padding:1px}
.c10{color:#6e912c;padding:2px}
.c11{color:#774b9a;padding:3px}
.c12{color:#a838f5;padding:4px}
.c13{color:#4b8c38;padding:5px}
.c14{color:#0173a9;padding:6px}
.c15{color:#8df6f7;padding:7px}
.c16{color:#4a148a;padding:0px}
.c17{color:#428e54;padding:1px}
.c18{color:#8055bf;padding:2px}
.c19{color:#5957af;padding:3px}
.c20{color:#384844;padding:4px}
.c21{color:#0d330e;padding:5px}
.c22{color:#437bb6;padding:6px}
.c23{color:#079bc5;padding:7px}
.c24{color:#b76b88;padding:0px}
.c25{color:#79d22b;padding:1px}
.c26{color:#a5c55f;padding:2px}
.c27{color:#081475;padding:3px}
.c28{color:#5936cc;padding:4px}
.c29{color:#87de40;padding:5px}
.c30{color:#1ad40b;padding:6px}
.c31{color:#40e67e;padding:7px}
.c32{color:#d78824;padding:0px}
.c33{color:#3a303d;padding:1px}
.c34{color:#208aad;padding:2px}
.c35{color:#f3d682;padding:3px}
.c36{color:#e58454;padding:4px}
.c37{color:#b95d2c;padding:5px}
.c38{color:#37d5ed;padding:6px}
.c39{color:#e76d41;padding:7px}
.c40{color:#716ef8;padding:0px}
.c41{color:#1633f1;padding:1px}
.c42{color:#9a6f4a;padding:2px}
.c43{color:#ea848c;padding:3px}
.c44{color:#0ff2fa;padding:4px}
.c45{color:#1f2481;padding:5px}
.c46{color:#f53d1d;padding:6px}
.c47{color:#cda0c6;padding:7px}
.c48{color:#da4089;padding:0px}
.c49{color:#3746c5;padding:1px}
.c50{color:#fb0484;padding:2px}
.c51{color:#e31a9a;padding:3px}
.c52{color:#25a093;padding:4px}
.c53{color:#295d5e;padding:5px}
.c54{color:#a4ebd7;padding:6px}
.c55{color:#4bf269;padding:7px}
.c56{color:#21a11a;padding:0px}
.c57{color:#409c2f;padding:1px}
.c58{color:#8ccee5;padding:2px}
.c59{color:#a67eb4;padding:3px}
.c60{color:#c305e6;padding:4px}
.c61{color:#96fcd6;padding:5px}
.c62{color:#e84d63;padding:6px}
.c63{color:#dc4316;padding:7px}
.c64{color:#32c784;padding:0px}
.c65{color:#3a947b;padding:1px}
.c66{color:#6e1780;padding:2px}
.c67{color:#dc3220;padding:3px}
.c68{color:#e73234;padding:4px}
.c69{color:#74fd1c;padding:5px}
.c70{color:#d3df5f;padding:6px}
.c71{color:#ad8871;padding:7px}
.c72{color:#e83102;padding:0px}
.c73{color:#cc265c;padding:1px}
.c74{color:#d4fc98;padding:2px}
.c75{color:#30af17;padding:3px}
.c76{color:#a00656;padding:4px}
.c77{color:#da80cf;padding:5px}
.c78{color:#a00316;padding:6px}
.c79{color:#8280ea;padding:7px}
.c80{color:#bfa462;padding:0px}
.c81{color:#4e26b0;padding:1px}
.c82{color:#f2d33d;padding:2px}
.c83{color:#225f4c;padding:3px}
.c84{color:#2eb503;padding:4px}
.c85{color:#2bb4e0;padding:5px}
.c86{color:#2fbbdb;padding:6px}
.c87{color:#dd1eeb;padding:7px}
.c88{color:#3170e4;padding:0px}
.c89{color:#becb91;padding:1px}
.c90{color:#429e7e;padding:2px}
.c91{color:#1eb5d3;padding:3px}
.c92{color:#a8c75b;padding:4px}
.c93{color:#3e9519;padding:5px}
.c94{color:#d25582;padding:6px}
.c95{color:#b50ace;padding:7px}
.c96{color:#d88b2d;padding:0px}
.c97{color:#1a5723;padding:1px}
.c98{color:#934429;padding:2px}
.c99{color:#9ff94d;padding:3px}
.c100{color:#b40af8;padding:4px}
.c101{color:#350b22;padding:5px}
.c102{color:#6cec19;padding:6px}
.c103{color:#4f38cb;padding:7px}
.c104{color:#f6e187;padding:0px}
.c105{color:#72d039;padding:1px}
.c106{color:#376866;padding:2px}
.c107{color:#b34224;padding:3px}
.c108{color:#bc30f6;padding:4px}
.c109{color:#3ad23f;padding:5px}
.c110{color:#8ea07e;padding:6px}
.c111{color:#73cb1f;padding:7px}
.c112{color:#dbb49f;padding:0px}
.c113{color:#0d7124;padding:1px}
.c114{color:#88eee8;padding:2px}
.c115{color:#0ed2f3;padding:3px}
.c116{color:#5c5f7e;padding:4px}
.c117{color:#8bea18;padding:5px}
.c118{color:#9e333d;padding:6px}
.c119{color:#adfd7f;padding:7px}
.c120{color:#b3b957;padding:0px}
.c121{color:#03204c;padding:1px}
.c122{color:#5ce130;padding:2px}
.c123{color:#495842;padding:3px}
.c124{color:#cd339b;padding:4px}
.c125{color:#23a0b3;padding:5px}
.c126{color:#48a3cb;padding:6px}
.c127{color:#0fb249;padding:7px}
.c128{color:#2efadc;padding:0px}
.c129{color:#6e25e5;padding:1px}
.c130{color:#c09c8d;padding:2px}
.c131{color:#d6f448;padding:3px}
.c132{color:#e84442;padding:4px}
.c133{color:#ae89eb;padding:5px}
.c134{color:#5097f2;padding:6px}
.c135{color:#bd7799;padding:7px}
.c136{color:#9f8eee;padding:0px}
.c137{color:#a61583;padding:1px}
.c138{color:#2b7f7d;padding:2px}
.c139{color:#1aef8b;padding:3px}
.c140{color:#4fa82b;padding:4px}
.c141{color:#509807;padding:5px}
.c142{color:#197a78;padding:6px}
.c143{color:#29c50d;padding:7px}
.c144{color:#8b5110;padding:0px}
.c145{color:#e2dfb4;padding:1px}
.c146{color:#d91876;padding:2px}
.c147{color:#f8a8a6;padding:3px}
.c148{color:#e2539d;padding:4px}
.c149{color:#d40fe4;padding:5px}
.c150{color:#8bdc86;padding:6px}
.c151{color:#6e5f0e;padding:7px}
.c152{color:#3a4649;padding:0px}
.c153{color:#b0ba7f;padding:1px}
.c154{color:#dc1da3;padding:2px}
.c155{color:#38c68b;padding:3px}
.c156{color:#9105ae;padding:4px}
.c157{color:#f927ed;padding:5px}
.c158{color:#9de925;padding:6px}
.c159{color:#1740f1;padding:7px}
.c160{color:#70e7ca;padding:0px}
.c161{color:#ca5ff6;padding:1px}
.c162{color:#1c0c61;padding:2px}
.c163{color:#03ef8f;padding:3px}
.c164{color:#68aa25;padding:4px}
.c165{color:#9a53a3;padding:5px}
.c166{color:#6c26dc;padding:6px}
.c167{color:#4643a3;padding:7px}
.c168{color:#82d373;padding:0px}
.c169{color:#94326a;padding:1px}
.c170{color:#a7ffa7;padding:2px}
.c171{color:#3d6e96;padding:3px}
.c172{color:#03f52c;padding:4px}
.c173{color:#fea94a;padding:5px}
.c174{color:#dc7ed0;padding:6px}
.c175{color:#59f4ab;padding:7px}
.c176{color:#4224a0;padding:0px}
.c177{color:#c2aa8c;padding:1px}
.c178{color:#75d112;padding:2px}
.c179{color:#b55566;padding:3px}
.c180{color:#24e714;padding:4px}
.c181{color:#cb4ce9;padding:5px}
.c182{color:#15a8a4;padding:6px}
.c183{color:#df582c;padding:7px}
.c184{color:#09987d;padding:0px}
.c185{color:#eb64e8;padding:1px}
.c186{color:#27dd9b;padding:2px}
.c187{color:#a0497b;padding:3px}
.c188{color:#dbcb26;padding:4px}
.c189{color:#cf1084;padding:5px}
.c190{color:#d5dbfb;padding:6px}
.c191{color:#943b56;padding:7px}
.c192{color:#3af801;padding:0px}
.c193{color:#cf6065;padding:1px}
.c194{color:#0aadb5;padding:2px}
.c195{color:#a64803;padding:3px}
.c196{color:#57ffc2;padding:4px}
.c197{color:#eb91d2;padding:5px}
.c198{color:#b944c1;padding:6px}
.c199{color:#2d1f5c;padding:7px}
