body{font-family:system-ui;margin:0;padding:1rem}
.c0{color:#19e6b6;padding:0px}
.c1{color:#078e57;padding:1px}
.c2{color:#2fc023;padding:2px}
.c3{color:#7906bb;padding:3px}
.c4{color:#5526ba;padding:4px}
.c5{color:#d01580;padding:5px}
.c6{color:#f8a5f4;padding:6px}
.c7{color:#f6749c;padding:7px}
.c8{color:#6d7049;padding:0px}
.c9{color:#cd5527;padding:1px}
.c10{color:#1e0575;padding:2px}
.c11{color:#544b51;padding:3px}
.c12{color:#c208c3;padding:4px}
.c13{color:#011a82;padding:5px}
.c14{color:#c7e55c;padding:6px}
.c15{color:#87c8b1;padding:7px}
.c16{color:#e8f6db;padding:0px}
.c17{color:#920c2f;padding:1px}
.c18{color:#d8946f;padding:2px}
.c19{color:#f92cfe;padding:3px}
.c20{color:#4f4187;padding:4px}
.c21{color:#613a4b;padding:5px}
.c22{color:#97ea16;padding:6px}
.c23{color:#6f767d;padding:7px}
.c24{color:#1df185;padding:0px}
.c25{color:#1f35d4;padding:1px}
.c26{color:#a090cf;padding:2px}
.c27{color:#1d44c4;padding:3px}
.c28{color:#19ac41;padding:4px}
.c29{color:#f41d9f;padding:5px}
.c30{color:#509b05;padding:6px}
.c31{color:#1d1f51;padding:7px}
.c32{color:#29045e;padding:0px}
.c33{color:#5f2473;padding:1px}
.c34{color:#23153a;padding:2px}
.c35{color:#22cbc4;padding:3px}
.c36{color:#786ca5;padding:4px}
.c37{color:#cebbab;padding:5px}
.c38{color:#3d61c7;padding:6px}
.c39{color:#7e0ff0;padding:7px}
.c40{color:#145904;padding:0px}
.c41{color:#29f9ba;padding:1px}
.c42{color:#d6a4a5;padding:2px}
.c43{color:#a1fb3a;padding:3px}
.c44{color:#858314;padding:4px}
.c45{color:#6894a9;padding:5px}
.c46{color:#a0dcb5;padding:6px}
.c47{color:#7a350b;padding:7px}
.c48{color:#87fea0;padding:0px}
.c49{color:#caa471;padding:1px}
.c50{color:#43027a;padding:2px}
.c51{color:#999937;padding:3px}
.c52{color:#ea1956;padding:4px}
.c53{color:#a1e1fa;padding:5px}
.c54{color:#25245f;padding:6px}
.c55{color:#04c4fe;padding:7px}
.c56{color:#eaa466;padding:0px}
.c57{color:#3330be;padding:1px}
.c58{color:#25826d;padding:2px}
.c59{color:#6d228f;padding:3px}
.c60{color:#87c859;padding:4px}
.c61{color:#43d158;padding:5px}
.c62{color:#b2b149;padding:6px}
.c63{color:#23389d;padding:7px}
.c64{color:#7d12d8;padding:0px}
.c65{color:#bd32a7;padding:1px}
.c66{color:#91e9de;padding:2px}
.c67{color:#50c431;padding:3px}
.c68{color:#e059ba;padding:4px}
.c69{color:#9ae386;padding:5px}
.c70{color:#040163;padding:6px}
.c71{color:#99482b;padding:7px}
.c72{color:#35094a;padding:0px}
.c73{color:#44c1ce;padding:1px}
.c74{color:#876813;padding:2px}
.c75{color:#3b1977;padding:3px}
.c76{color:#36cd6b;padding:4px}
.c77{color:#4f96de;padding:5px}
.c78{color:#8b7139;padding:6px}
.c79{color:#90425b;padding:7px}
.c80{color:#6bd7a6;padding:0px}
.c81{color:#af8e01;padding:1px}
.c82{color:#683de8;padding:2px}
.c83{color:#8728e5;padding:3px}
.c84{color:#fa20d8;padding:4px}
.c85{color:#8092f6;padding:5px}
.c86{color:#1a0250;padding:6px}
.c87{color:#2f41be;padding:7px}
.c88{color:#d8deec;padding:0px}
.c89{color:#8da907;padding:1px}
.c90{color:#16928a;padding:2px}
.c91{color:#01d0bd;padding:3px}
.c92{color:#aac7ec;padding:4px}
.c93{color:#42facb;padding:5px}
.c94{color:#861f00;padding:6px}
.c95{color:#52badf;padding:7px}
.c96{color:#e23843;padding:0px}
.c97{color:#daf9c7;padding:1px}
.c98{color:#04f36d;padding:2px}
.c99{color:#394788;padding:3px}
.c100{color:#26865c;padding:4px}
.c101{color:#4c50d7;padding:5px}
.c102{color:#127247;padding:6px}
.c103{color:#bd09e0;padding:7px}
.c104{color:#4bd2f2;padding:0px}
.c105{color:#dc0d01;padding:1px}
.c106{color:#41408a;padding:2px}
.c107{color:#156a97;padding:3px}
.c108{color:#9dd409;padding:4px}
.c109{color:#bab39a;padding:5px}
.c110{color:#146d19;padding:6px}
.c111{color:#b732c5;padding:7px}
.c112{color:#6b8f26;padding:0px}
.c113{color:#7fc25c;padding:1px}
.c114{color:#34a15d;padding:2px}
.c115{color:#b5155d;padding:3px}
.c116{color:#d010b2;padding:4px}
.c117{color:#4f219d;padding:5px}
.c118{color:#7935a2;padding:6px}
.c119{color:#53336e;padding:7px}
.c120{color:#5aa69b;padding:0px}
.c121{color:#d31840;padding:1px}
.c122{color:#0cb0cc;padding:2px}
.c123{color:#5bd529;padding:3px}
.c124{color:#aa1436;padding:4px}
.c125{color:#d2cc11;padding:5px}
.c126{color:#7f0fc6;padding:6px}
.c127{color:#889ac2;padding:7px}
.c128{color:#518261;padding:0px}
.c129{color:#37584f;padding:1px}
.c130{color:#c3dc82;padding:2px}
.c131{color:#13d3b6;padding:3px}
.c132{color:#f0fe48;padding:4px}
.c133{color:#71e2d5;padding:5px}
.c134{color:#662e68;padding:6px}
.c135{color:#ebacdd;padding:7px}
.c136{color:#b3066d;padding:0px}
.c137{color:#9c41fa;padding:1px}
.c138{color:#748765;padding:2px}
.c139{color:#722309;padding:3px}
.c140{color:#0c1dbe;padding:4px}
.c141{color:#62e1e8;padding:5px}
.c142{color:#cc03bb;padding:6px}
.c143{color:#a811f3;padding:7px}
.c144{color:#8ea50f;padding:0px}
.c145{color:#238b1d;padding:1px}
.c146{color:#8ee978;padding:2px}
.c147{color:#b3c96c;padding:3px}
.c148{color:#cca2a5;padding:4px}
.c149{color:#a98c79;padding:5px}
.c150{color:#0e21a8;padding:6px}
.c151{color:#3b0e12;padding:7px}
.c152{color:#85bdff;padding:0px}
.c153{color:#5b6d3d;padding:1px}
.c154{color:#87eb35;padding:2px}
.c155{color:#139672;padding:3px}
.c156{color:#378089;padding:4px}
.c157{color:#de7f24;padding:5px}
.c158{color:#b0fde6;padding:6px}
.c159{color:#a09a50;padding:7px}
.c160{color:#df6f04;padding:0px}
.c161{color:#3b35ec;padding:1px}
.c162{color:#c53855;padding:2px}
.c163{color:#615201;padding:3px}
.c164{color:#826afd;padding:4px}
.c165{color:#16b9d4;padding:5px}
.c166{color:#df42ee;padding:6px}
.c167{color:#00ddad;padding:7px}
.c168{color:#64e1c9;padding:0px}
.c169{color:#ba7b3c;padding:1px}
.c170{color:#dcd303;padding:2px}
.c171{color:#23d39b;padding:3px}
.c172{color:#a90ffa;padding:4px}
.c173{color:#a0b98d;padding:5px}
.c174{color:#3fcee3;padding:6px}
.c175{color:#99c3d7;padding:7px}
.c176{color:#9e5a8f;padding:0px}
.c177{color:#d118e0;padding:1px}
.c178{color:#a70172;padding:2px}
.c179{color:#ce076c;padding:3px}
.c180{color:#97601e;padding:4px}
.c181{color:#412bdd;padding:5px}
.c182{color:#6238dd;padding:6px}
.c183{color:#d744bd;padding:7px}
.c184{color:#c21f54;padding:0px}
.c185{color:#591a1c;padding:1px}
.c186{color:#9a161a;padding:2px}
.c187{color:#cfe915;padding:3px}
.c188{color:#003535;padding:4px}
.c189{color:#9b957f;padding:5px}
.c190{color:#92e65a;padding:6px}
.c191{color:#6b9d10;padding:7px}
.c192{color:#dc1a4c;padding:0px}
.c193{color:#a4fdd9;padding:1px}
.c194{color:#ee12ee;padding:2px}
.c195{color:#e231c6;padding:3px}
.c196{color:#e262c4;padding:4px}
.c197{color:#6d6a45;padding:5px}
.c198{color:#f24575;padding:6px}
.c199{color:#56e1ca;padding:7px}
