body{font-family:system-ui;margin:0;padding:1rem}
.c0{color:#df98af;padding:0px}
.c1{color:#3633b1;padding:1px}
.c2{color:#7c93fa;padding:2px}
.c3{color:#df10fe;padding:3px}
.c4{color:#cd07c2;padding:4px}
.c5{color:#28446e;padding:5px}
.c6{color:#caa1ee;padding:6px}
.c7{color:#9edc4e;padding:7px}
.c8{color:#add4af;padding:0px}
.c9{color:#7171e4;padding:1px}
.c10{color:#aa87f8;padding:2px}
.c11{color:#56157d;padding:3px}
.c12{color:#271b32;padding:4px}
.c13{color:#3a61b3;padding:5px}
.c14{color:#634758;padding:6px}
.c15{color:#b2e150;padding:7px}
.c16{color:#b3c358;padding:0px}
.c17{color:#4b9e00;padding:1px}
.c18{color:#78f83b;padding:2px}
.c19{color:#34a2cb;padding:3px}
.c20{color:#4afabc;padding:4px}
.c21{color:#830e44;padding:5px}
.c22{color:#6500cf;padding:6px}
.c23{color:#58d4dd;padding:7px}
.c24{color:#4e44f2;padding:0px}
.c25{color:#2694b4;padding:1px}
.c26{color:#5ab2e5;padding:2px}
.c27{color:#fcfce8;padding:3px}
.c28{color:#ed8b41;padding:4px}
.c29{color:#e5d6e8;padding:5px}
.c30{color:#a57b8c;padding:6px}
.c31{color:#a1dcf5;padding:7px}
.c32{color:#4d4a49;padding:0px}
.c33{color:#e12897;padding:1px}
.c34{color:#22f66a;padding:2px}
.c35{color:#f0166c;padding:3px}
.c36{color:#e26918;padding:4px}
.c37{color:#9b0b47;padding:5px}
.c38{color:#8ca206;padding:6px}
.c39{color:#1cc297;padding:7px}
.c40{color:#b431c5;padding:0px}
.c41{color:#25fc51;padding:1px}
.c42{color:#9eedc7;padding:2px}
.c43{color:#ec6982;padding:3px}
.c44{color:#e76141;padding:4px}
.c45{color:#134141;padding:5px}
.c46{color:#1d20b1;padding:6px}
.c47{color:#bccb2c;padding:7px}
.c48{color:#92fbc2;padding:0px}
.c49{color:#274949;padding:1px}
.c50{color:#2e3b57;padding:2px}
.c51{color:#c4dae3;padding:3px}
.c52{color:#ece88a;padding:4px}
.c53{color:#1500ed;padding:5px}
.c54{color:#e6437e;padding:6px}
.c55{color:#6060ec;padding:7px}
.c56{color:#a49f27;padding:0px}
.c57{color:#f385a5;padding:1px}
.c58{color:#4d3da9;padding:2px}
.c59{color:#1fade8;padding:3px}
.c60{color:#e6aaf7;padding:4px}
.c61{color:#34fe32;padding:5px}
.c62{color:#afd713;padding:6px}
.c63{color:#2b2d30;padding:7px}
.c64{color:#5859a4;padding:0px}
.c65{color:#140a6f;padding:1px}
.c66{color:#7ed843;padding:2px}
.c67{color:#e021da;padding:3px}
.c68{color:#e0fbe4;padding:4px}
.c69{color:#51472e;padding:5px}
.c70{color:#ba50d5;padding:6px}
.c71{color:#bee674;padding:7px}
.c72{color:#90d76d;padding:0px}
.c73{color:#c65b76;padding:1px}
.c74{color:#d14a38;padding:2px}
.c75{color:#ad3e75;padding:3px}
.c76{color:#1acfa7;padding:4px}
.c77{color:#ab5728;padding:5px}
.c78{color:#21bf32;padding:6px}
.c79{color:#a8cd3a;padding:7px}
.c80{color:#306315;padding:0px}
.c81{color:#c5ebbe;padding:1px}
.c82{color:#917bb6;padding:2px}
.c83{color:#810597;padding:3px}
.c84{color:#4cfdbb;padding:4px}
.c85{color:#aaae6d;padding:5px}
.c86{color:#29baa0;padding:6px}
.c87{color:#48694c;padding:7px}
.c88{color:#b31bb5;padding:0px}
.c89{color:#9ed6b1;padding:1px}
.c90{color:#c8aeb7;padding:2px}
.c91{color:#4205f3;padding:3px}
.c92{color:#2b604a;padding:4px}
.c93{color:#9e8184;padding:5px}
.c94{color:#c0dc1c;padding:6px}
.c95{color:#a82e14;padding:7px}
.c96{color:#416e2f;padding:0px}
.c97{color:#2fd911;padding:1px}
.c98{color:#d8c8b8;padding:2px}
.c99{color:#b94188;padding:3px}
.c100{color:#095583;padding:4px}
.c101{color:#b9a666;padding:5px}
.c102{color:#9e23b1;padding:6px}
.c103{color:#5c4b6b;padding:7px}
.c104{color:#6daaa9;padding:0px}
.c105{color:#aef78a;padding:1px}
.c106{color:#f8f880;padding:2px}
.c107{color:#624e82;padding:3px}
.c108{color:#73fd73;padding:4px}
.c109{color:#466ef7;padding:5px}
.c110{color:#4f54f9;padding:6px}
.c111{color:#27822e;padding:7px}
.c112{color:#97720f;padding:0px}
.c113{color:#33c8b8;padding:1px}
.c114{color:#1353a3;padding:2px}
.c115{color:#ac6c61;padding:3px}
.c116{color:#4318dc;padding:4px}
.c117{color:#c0e16d;padding:5px}
.c118{color:#4efa37;padding:6px}
.c119{color:#531211;padding:7px}
.c120{color:#5c97d7;padding:0px}
.c121{color:#54c18c;padding:1px}
.c122{color:#e016ba;padding:2px}
.c123{color:#165eda;padding:3px}
.c124{color:#d25c0f;padding:4px}
.c125{color:#ba8573;padding:5px}
.c126{color:#799d8e;padding:6px}
.c127{color:#e36e03;padding:7px}
.c128{color:#91e212;padding:0px}
.c129{color:#e5d9e2;padding:1px}
.c130{color:#77cf3b;padding:2px}
.c131{color:#7a744b;padding:3px}
.c132{color:#9e7293;padding:4px}
.c133{color:#f022d0;padding:5px}
.c134{color:#635616;padding:6px}
.c135{color:#bc55a6;padding:7px}
.c136{color:#e195fb;padding:0px}
.c137{color:#ec6151;padding:1px}
.c138{color:#904462;padding:2px}
.c139{color:#c384c8;padding:3px}
.c140{color:#d65ab6;padding:4px}
.c141{color:#52f949;padding:5px}
.c142{color:#663ec7;padding:6px}
.c143{color:#46dc2c;padding:7px}
.c144{color:#80006b;padding:0px}
.c145{color:#1ab74f;padding:1px}
.c146{color:#f60ffa;padding:2px}
.c147{color:#be0f83;padding:3px}
.c148{color:#3486a4;padding:4px}
.c149{color:#3fd5c3;padding:5px}
.c150{color:#91f3c7;padding:6px}
.c151{color:#2af1ae;padding:7px}
.c152{color:#521475;padding:0px}
.c153{color:#8bab4d;padding:1px}
.c154{color:#e60d2b;padding:2px}
.c155{color:#4b7148;padding:3px}
.c156{color:#dffc67;padding:4px}
.c157{color:#2ef514;padding:5px}
.c158{color:#71aef7;padding:6px}
.c159{color:#e6fa3f;padding:7px}
.c160{color:#b2fcd0;padding:0px}
.c161{color:#0da7b7;padding:1px}
.c162{color:#d46d5e;padding:2px}
.c163{color:#1b447c;padding:3px}
.c164{color:#cafc03;padding:4px}
.c165{color:#bf77e1;padding:5px}
.c166{color:#78b7e7;padding:6px}
.c167{color:#c5b790;padding:7px}
.c168{color:#29c830;padding:0px}
.c169{color:#bff48d;padding:1px}
.c170{color:#72f6be;padding:2px}
.c171{color:#0e6e99;padding:3px}
.c172{color:#a32aa9;padding:4px}
.c173{color:#32bb05;padding:5px}
.c174{color:#abab2d;padding:6px}
.c175{color:#4ac6f9;padding:7px}
.c176{color:#467374;padding:0px}
.c177{color:#139c79;padding:1px}
.c178{color:#92e1db;padding:2px}
.c179{color:#f1e59c;padding:3px}
.c180{color:#470fd5;padding:4px}
.c181{color:#f02f33;padding:5px}
.c182{color:#e5af17;padding:6px}
.c183{color:#02b048;padding:7px}
.c184{color:#289047;padding:0px}
.c185{color:#09bae0;padding:1px}
.c186{color:#830876;padding:2px}
.c187{color:#6e6a4c;padding:3px}
.c188{color:#4c8dd5;padding:4px}
.c189{color:#d8b4d9;padding:5px}
.c190{color:#38ed7b;padding:6px}
.c191{color:#93820c;padding:7px}
.c192{color:#79abfa;padding:0px}
.c193{color:#9a307d;padding:1px}
.c194{color:#3e62e8;padding:2px}
.c195{color:#18729d;padding:3px}
.c196{color:#7a14be;padding:4px}
.c197{color:#d6f35f;padding:5px}
.c198{color:#ea0acb;padding:6px}
.c199{color:#202842;padding:7px}
