body{font-family:system-ui;margin:0;padding:1rem}
.c0{color:#02a724;padding:0px}
.c1{color:#50dda7;padding:1px}
.c2{color:#d0562c;padding:2px}
.c3{color:#f38ee7;padding:3px}
.c4{color:#f47421;padding:4px}
.c5{color:#661f17;padding:5px}
.c6{color:#9311c8;padding:6px}
.c7{color:#a47017;padding:7px}
.c8{color:#9221f5;padding:0px}
.c9{color:#1e4a8e;padding:1px}
.c10{color:#2dcdcb;padding:2px}
.c11{color:#76e590;padding:3px}
.c12{color:#1318c1;padding:4px}
.c13{color:#59a217;padding:5px}
.c14{color:#d5f505;padding:6px}
.c15{color:#5a00fa;padding:7px}
.c16{color:#129b22;padding:0px}
.c17{color:#cb42df;padding:1px}
.c18{color:#fda2f5;padding:2px}
.c19{color:#5f643c;padding:3px}
.c20{color:#943503;padding:4px}
.c21{color:#132ec4;padding:5px}
.c22{color:#04beaa;padding:6px}
.c23{color:#98c6dd;padding:7px}
.c24{color:#36f01d;padding:0px}
.c25{color:#ab8aa3;padding:1px}
.c26{color:#91b210;padding:2px}
.c27{color:#e8a071;padding:3px}
.c28{color:#fce216;padding:4px}
.c29{color:#44b5da;padding:5px}
.c30{color:#efa06b;padding:6px}
.c31{color:#8bb14d;padding:7px}
.c32{color:#62b82c;padding:0px}
.c33{color:#39acd6;padding:1px}
.c34{color:#a94f6d;padding:2px}
.c35{color:#533272;padding:3px}
.c36{color:#eaf6d6;padding:4px}
.c37{color:#83b838;padding:5px}
.c38{color:#5f557c;padding:6px}
.c39{color:#07360b;padding:7px}
.c40{color:#ac99f7;padding:0px}
.c41{color:#970d6b;padding:1px}
.c42{color:#62e609;padding:2px}
.c43{color:#59da78;padding:3px}
.c44{color:#cf9c6f;padding:4px}
.c45{color:#dafbeb;padding:5px}
.c46{color:#a7e600;padding:6px}
.c47{color:#2c68e4;padding:7px}
.c48{color:#cd3a03;padding:0px}
.c49{color:#30d651;padding:1px}
.c50{color:#5e9ba4;padding:2px}
.c51{color:#47fe47;padding:3px}
.c52{color:#f474dd;padding:4px}
.c53{color:#a5af1e;padding:5px}
.c54{color:#7f0007;padding:6px}
.c55{color:#037f3c;padding:7px}
.c56{color:#8585a5;padding:0px}
.c57{color:#c463dc;padding:1px}
.c58{color:#78963d;padding:2px}
.c59{color:#e4ba84;padding:3px}
.c60{color:#88b37a;padding:4px}
.c61{color:#a8c4a5;padding:5px}
.c62{color:#9a98a5;padding:6px}
.c63{color:#05dae7;padding:7px}
.c64{color:#85ea4b;padding:0px}
.c65{color:#b81736;padding:1px}
.c66{color:#78fca6;padding:2px}
.c67{color:#1fcec2;padding:3px}
.c68{color:#3c87f7;padding:4px}
.c69{color:#ee4840;padding:5px}
.c70{color:#9d15b8;padding:6px}
.c71{color:#51c667;padding:7px}
.c72{color:#cf92c4;padding:0px}
.c73{color:#9f3880;padding:1px}
.c74{color:#3c1dea;padding:2px}
.c75{color:#970f2b;padding:3px}
.c76{color:#bc2eb6;padding:4px}
.c77{color:#711326;padding:5px}
.c78{color:#70319f;padding:6px}
.c79{color:#446320;padding:7px}
.c80{color:#f4d442;padding:0px}
.c81{color:#4e6e56;padding:1px}
.c82{color:#e8f2f6;padding:2px}
.c83{color:#bf4bc1;padding:3px}
.c84{color:#d4e9b7;padding:4px}
.c85{color:#f11060;padding:5px}
.c86{color:#6fd3a5;padding:6px}
.c87{color:#7eb3c9;padding:7px}
.c88{color:#29eae7;padding:0px}
.c89{color:#e4bc26;padding:1px}
.c90{color:#b93bdd;padding:2px}
.c91{color:#27fd14;padding:3px}
.c92{color:#39736e;padding:4px}
.c93{color:#1f9ec0;padding:5px}
.c94{color:#678117;padding:6px}
.c95{color:#4cb973;padding:7px}
.c96{color:#543e36;padding:0px}
.c97{color:#a7ff08;padding:1px}
.c98{color:#e238ec;padding:2px}
.c99{color:#3b83cf;padding:3px}
.c100{color:#692a62;padding:4px}
.c101{color:#fa47a8;padding:5px}
.c102{color:#2e8fe7;padding:6px}
.c103{color:#e4164e;padding:7px}
.c104{color:#1c7c4b;padding:0px}
.c105{color:#e82847;padding:1px}
.c106{color:#438e35;padding:2px}
.c107{color:#d4b287;padding:3px}
.c108{color:#e9e17d;padding:4px}
.c109{color:#1d8fac;padding:5px}
.c110{color:#ecbcd9;padding:6px}
.c111{color:#9dc866;padding:7px}
.c112{color:#0b257f;padding:0px}
.c113{color:#cab9ca;padding:1px}
.c114{color:#824837;padding:2px}
.c115{color:#018b3e;padding:3px}
.c116{color:#6f90c2;padding:4px}
.c117{color:#256420;padding:5px}
.c118{color:#173039;padding:6px}
.c119{color:#d8eedd;padding:7px}
.c120{color:#b06616;padding:0px}
.c121{color:#20a523;padding:1px}
.c122{color:#1ed9d3;padding:2px}
.c123{color:#23567a;padding:3px}
.c124{color:#f1b351;padding:4px}
.c125{color:#103f8d;padding:5px}
.c126{color:#92fd8d;padding:6px}
.c127{color:#d15701;padding:7px}
.c128{color:#5c2683;padding:0px}
.c129{color:#4556ee;padding:1px}
.c130{color:#d739ae;padding:2px}
.c131{color:#bfb957;padding:3px}
.c132{color:#c3d45e;padding:4px}
.c133{color:#e5a6a8;padding:5px}
.c134{color:#c14733;padding:6px}
.c135{color:#c0549c;padding:7px}
.c136{color:#291686;padding:0px}
.c137{color:#44173d;padding:1px}
.c138{color:#b20ee5;padding:2px}
.c139{color:#3cbd7c;padding:3px}
.c140{color:#5b60e5;padding:4px}
.c141{color:#c93efb;padding:5px}
.c142{color:#4133a3;padding:6px}
.c143{color:#720473;padding:7px}
.c144{color:#01c740;padding:0px}
.c145{color:#0ba3f6;padding:1px}
.c146{color:#98c308;padding:2px}
.c147{color:#ed0ed8;padding:3px}
.c148{color:#d9274f;padding:4px}
.c149{color:#c23086;padding:5px}
.c150{color:#759687;padding:6px}
.c151{color:#7eb9e5;padding:7px}
.c152{color:#ebd713;padding:0px}
.c153{color:#b13bd9;padding:1px}
.c154{color:#4f6c11;padding:2px}
.c155{color:#8d21f6;padding:3px}
.c156{color:#608082;padding:4px}
.c157{color:#39c6c5;padding:5px}
.c158{color:#107ec9;padding:6px}
.c159{color:#d6a6b4;padding:7px}
.c160{color:#0802b9;padding:0px}
.c161{color:#7b389c;padding:1px}
.c162{color:#698387;padding:2px}
.c163{color:#2273f4;padding:3px}
.c164{color:#33a8bb;padding:4px}
.c165{color:#1130e8;padding:5px}
.c166{color:#e493ec;padding:6px}
.c167{color:#18ec1a;padding:7px}
.c168{color:#7d4dcb;padding:0px}
.c169{color:#16a632;padding:1px}
.c170{color:#cdf5b9;padding:2px}
.c171{color:#e0bfbb;padding:3px}
.c172{color:#77fb51;padding:4px}
.c173{color:#6f3de8;padding:5px}
.c174{color:#1ce63b;padding:6px}
.c175{color:#47bfd9;padding:7px}
.c176{color:#941a56;padding:0px}
.c177{color:#77e404;padding:1px}
.c178{color:#a34758;padding:2px}
.c179{color:#a42e37;padding:3px}
.c180{color:#794b7c;padding:4px}
.c181{color:#9a80de;padding:5px}
.c182{color:#49596e;padding:6px}
.c183{color:#712c83;padding:7px}
.c184{color:#d3be29;padding:0px}
.c185{color:#99db42;padding:1px}
.c186{color:#8ce0f9;padding:2px}
.c187{color:#1f35d6;padding:3px}
.c188{color:#59ab0e;padding:4px}
.c189{color:#daba08;padding:5px}
.c190{color:#fdc202;padding:6px}
.c191{color:#180131;padding:7px}
.c192{color:#b05723;padding:0px}
.c193{color:#c326b3;padding:1px}
.c194{color:#a33129;padding:2px}
.c195{color:#d52880;padding:3px}
.c196{color:#d10758;padding:4px}
.c197{color:#4c6640;padding:5px}
.c198{color:#998afc;padding:6px}
.c199{color:#c0bf63;padding:7px}
